/* UberMenu - Copyright 2011-2016, SevenSpark */
.ubermenu-skin-white {
  font-size: 12px;
  color: #888888;
}
.ubermenu-skin-white .ubermenu-target {
  color: #555555;
}
.ubermenu-skin-white .ubermenu-target-description {
  color: #aaaaaa;
}
.ubermenu-skin-white.ubermenu-responsive-toggle {
  background: #ffffff;
  color: #555555;
  font-size: 12px;
  text-transform: none;
  font-weight: bold;
}
.ubermenu-skin-white.ubermenu-responsive-toggle:hover {
  background: #f0f0f0;
  color: #222222;
}
.ubermenu-skin-white {
  border: none;
  background: #ffffff;
}
.ubermenu-skin-white .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target,
.ubermenu-skin-white .ubermenu-item-level-0.ubermenu-current-menu-parent > .ubermenu-target,
.ubermenu-skin-white .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-target {
  color: #000000;
  background: transparent;
}
.ubermenu-skin-white .ubermenu-item.ubermenu-item-level-0 > .ubermenu-highlight {
  color: #4d90fe;
  background: transparent;
}
.ubermenu-skin-white.ubermenu-vertical .ubermenu-item-level-0 > .ubermenu-target {
  background: #ffffff;
}
.ubermenu-skin-white .ubermenu-item-level-0 > .ubermenu-target {
  font-weight: bold;
  color: #555555;
  text-transform: none;
  border-left: none;
}
body:not(.rtl) .ubermenu-skin-white.ubermenu-horizontal .ubermenu-item-level-0:first-child > .ubermenu-target {
  box-shadow: none;
}
.ubermenu-skin-white .ubermenu-item-level-0:hover > .ubermenu-target,
.ubermenu-skin-white .ubermenu-item-level-0.ubermenu-active > .ubermenu-target {
  background: #eeeeee;
  color: #111111;
}
.ubermenu-skin-white .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target {
  color: #555555;
}
.ubermenu-skin-white .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target:hover {
  color: #111111;
}
.ubermenu-skin-white .ubermenu-submenu.ubermenu-submenu-drop {
  background: #ffffff;
  border: 1px solid #e9e9e9;
}
.ubermenu-skin-white.ubermenu-horizontal .ubermenu-item-level-0 > .ubermenu-submenu-drop {
  /*border-top: 1px solid #e9e9e9;*/
}
.ubermenu-skin-white .ubermenu-tab-content-panel {
  background: #ffffff;
}
.ubermenu-skin-white .ubermenu-submenu,
.ubermenu-skin-white .ubermenu-submenu .ubermenu-target {
  color: #555555;
}
.ubermenu-skin-white .ubermenu-submenu .ubermenu-highlight {
  color: #4d90fe;
}
.ubermenu-skin-white .ubermenu-submenu .ubermenu-target:hover,
.ubermenu-skin-white .ubermenu-submenu .ubermenu-active > .ubermenu-target {
  color: #111111;
}
.ubermenu-skin-white .ubermenu-submenu .ubermenu-target > .ubermenu-target-description {
  color: #aaaaaa;
}
.ubermenu-skin-white .ubermenu-submenu .ubermenu-active > .ubermenu-target > .ubermenu-target-description {
  color: #666666;
}
.ubermenu-skin-white .ubermenu-submenu .ubermenu-item-header > .ubermenu-target {
  font-weight: bold;
  color: #222222;
}
.ubermenu-skin-white .ubermenu-submenu .ubermenu-item-header.ubermenu-has-submenu-stack > .ubermenu-target {
  border-bottom: 1px solid #e9e9e9;
}
.ubermenu-skin-white .ubermenu-submenu .ubermenu-item-header > .ubermenu-target:hover {
  color: #222222;
}
.ubermenu-skin-white .ubermenu-submenu .ubermenu-current-menu-item > .ubermenu-target {
  color: #000000;
  background: transparent;
}
.ubermenu-nojs.ubermenu-skin-white .ubermenu-submenu .ubermenu-tabs .ubermenu-tab:hover > .ubermenu-target,
.ubermenu-skin-white .ubermenu-submenu .ubermenu-tab.ubermenu-active > .ubermenu-target {
  background: #eeeeee;
  color: #111111;
}
.ubermenu-skin-white .ubermenu-tabs-group,
.ubermenu-skin-white .ubermenu-tab > .ubermenu-target,
.ubermenu-skin-white .ubermenu-tab-content-panel {
  border-color: #eeeeee;
}
.ubermenu-skin-white .ubermenu-submenu-drop {
  border-bottom-width: 3px;
}
.ubermenu-skin-white {
  /*border-top: 2px solid #222;*/
  border-bottom: 1px solid #eee;
  border-left: none;
  border-right: none;
}
