
/*#vc_settings-general .form-table tbody tr td label:nth-child(7), #vc_settings-general .form-table tbody tr td label:nth-child(9), #vc_settings-general .form-table tbody tr td label:nth-child(11), #vc_settings-general .form-table tbody tr td label:nth-child(13), #vc_settings-general .form-table tbody tr td br:nth-child(8), #vc_settings-general .form-table tbody tr td br:nth-child(10), #vc_settings-general .form-table tbody tr td br:nth-child(12), #vc_settings-general .form-table tbody tr td br:nth-child(14){
	display:none;
}*/
.vc_shortcode-edit-form-deprecated-message .wpb_element_wrapper .vc_message_box{
  display: none;
}
.vc_element-icon[class*="-ios-"] {
  background: none !important;
  font-size: 30px;
}
.wpb_content_element > .wpb_element_wrapper > .wpb_element_title .vc_element-icon[class*="-ios-"]{
	font-size: 24px !important;
}

#vc_ui-panel-add-element{
  width:70% !important;
}

.vc_add-element-container .vc_element-icon{
  display: block !important;
  position: static !important;
  margin-bottom: 10px;
}
.vc_add-element-container .wpb-content-layouts li{
  height:auto !important;
  min-height:150px;
  border:4px solid #ffffff !important;
}
.vc_add-element-container .wpb-content-layouts a{
  padding:20px !important;
  font-weight: normal !important;
}
.vc_add-element-container .wpb-content-layouts a, .vc_add-element-container .wpb-content-layouts a:focus, .vc_add-element-container .wpb-content-layouts a:hover, .vc_add-element-container .wpb-content-layouts a:visited{
  color:#000;
}
.vc_add-element-container .wpb-content-layouts a:focus{
  outline: 0 !important;
  box-shadow: none !important;
}
.vc_ui-panel-header-container{
  background: #222222 !important;
}
.vc_general.vc_ui-tabs-line .vc_ui-tabs-line-trigger{
  border-radius: 0 !important;
}
.vc_ui-search-box input[type=search]{
  border-radius: 0 !important;
}
.wpb_content_element > .wpb_element_wrapper > .wpb_element_title .vc_element-icon {
    display: inline-block !important;
    vertical-align: middle !important;
    margin-bottom: 0 !important;
    float: none !important;
}
