@charset "UTF-8";

.clear,.woocommerce .woocommerce-breadcrumb:after,.woocommerce .woocommerce-error:after,.woocommerce .woocommerce-info:after,.woocommerce .woocommerce-message:after{
    clear:both
}

/* Woocommerce Product Page */
.woocommerce .page-shop, .woocommerce .page-single-shop {
    padding:90px 0;
}
.woocommerce .products{
    padding-left:0;
}
.woocommerce .page-title{
    text-align: left;
    padding: 0;
}
.woocommerce .products img, .woocommerce .product img{
    max-width:100%;
    width:100%;
    height:auto;
}
.woocommerce .products .shop-column{
    float:none;
    vertical-align:top;
    display:inline-block;
    text-align: left;
}
.woocommerce .shop-fullwidth:not(.shop-no-gutter){
    padding:0;
    margin:0;
}
.woocommerce .shop-fullwidth.shop-no-gutter{
    padding:0;
}
.woocommerce .shop-no-gutter .shop-column{
    padding:0;
}
.woocommerce .shop-no-gutter:not(.shop-fullwidth){
    margin-left:0;
    margin-right:0;
}
.woocommerce .shop-container:not(.shop-no-gutter) .shop-column{
    margin-bottom:30px;
}

.page-shop:not(.no-sidebar) .page-shop-content, .page-single-shop:not(.no-sidebar) .page-single-shop-content{
    margin-right: 15px;
    padding-right:0;
    margin-left: 15px;
    padding-left: 0;
}
.woocommerce .page-shop-sidebar{
    margin-left: -30px;
    padding-left: 55px;
}
.has-sidebar.left .page-shop-content, .has-sidebar.left .page-single-shop-content{
    float:right;
}
.has-sidebar.left .page-shop-sidebar{
    margin-left: -40px;
    padding-left: 55px;
}

.woocommerce .products .product-thumbnail{
    position:relative;
}
.woocommerce .products .product-add-to-cart{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color:transparent;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.woocommerce .products .product-thumbnail:hover .product-add-to-cart{
    opacity: 1;
    visibility: visible;
    background-color:rgba(255,255,255,0.7);
}
.woocommerce .products .product-add-to-cart-content{
    display:table;
    width:100%;
    height:100%;
}
.woocommerce .products .product-add-to-cart .product-add-to-cart-button{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.woocommerce .products .product-add-to-cart .product-add-to-cart-button a{
    padding: 10px 15px;
    border: 2px solid; 
    border-color:#000000;
    background-color: transparent;
    color:#000000;
    font-size: 14px;
}
.woocommerce .products .product-add-to-cart .product-add-to-cart-button a:hover{
    background-color: #000000;
    color:#fff;
}
.woocommerce .products .product-add-to-cart .product-add-to-cart-button a.add_to_cart_button.product_type_simple.loading{
    background-color:transparent;
    border-color:#22e3e5;
    color:#22e3e5;
}
.woocommerce .products .product-add-to-cart .product-add-to-cart-button a.add_to_cart_button.product_type_simple.added{
    background-color:#22e3e5;
    border-color:#22e3e5;
    color: #fff;
}

.woocommerce .products .product-add-to-cart .product-add-to-cart-button .added_to_cart{
    display:none;
}
.woocommerce .product-title-content, .woocommerce .product-meta{
    display:inline-block;
}
.woocommerce .product-meta{
    text-align:right;
    float:right;
}

.woocommerce .product-title{
    margin-bottom:0;
}
.woocommerce.shortcode-products .product-title{
    font-size:20px;
}
.woocommerce .product-subtitle{
    display: inline-block;
}
.woocommerce .price{
    color:#555555;
    margin-bottom: 0;
}
.woocommerce .product-meta .price {
    font-size: 16px;
}
.woocommerce .price > .amount{
    color:#000000;
}

.woocommerce .price del{
    text-decoration: line-through;
    color: #999;
    font-size: 15px;
}
.woocommerce .product-meta .price del{
    font-size: 13px;
}
.woocommerce .price ins{
    color:#000000;
    text-decoration: none;
}

.woocommerce-result-count{
    padding-bottom: 40px;
}

.woocommerce-ordering{
    position: absolute;
    top: 0px;
    right: 0px;
}
.toggle-woocommerce-dropdown:active{
    box-shadow: none;
}

.woocommerce-dropdown-list, .toggle-woocommerce-dropdown{
    min-width:240px;
    text-align: left;
    background-color: transparent;
    color: #555555;
}

.toggle-woocommerce-dropdown i{
    position: absolute;
    right: 0;
    padding-right: 20px;
    padding-top: 1px;
    margin-right: 0;
}

.woocommerce-dropdown-list{
    right: 0;
    left: auto;
    background-color:#f6f7f8;
    border:0;
    border-radius:0;
    box-shadow: none;
    z-index: 1;
    padding:0;
}

.woocommerce-dropdown-list:focus{
    border:0;
    border-radius:0;
}

.woocommerce-dropdown-list li a{
    padding: 12px 20px;
    border-bottom: 1px solid #f0f0f0;
    color: #555555;
}
.woocommerce-dropdown-list li.active a{
    background-color:#22e3e5;
}
.woocommerce-dropdown-list li:last-child a{
    border-bottom: 0;
}

.woocommerce-dropdown-list li a:hover, .woocommerce-dropdown-list li.active a{
    border-color:transparent;

}

.toggle-woocommerce-dropdown{
    border-width: 1px;
    padding: 8px 20px;
    border-color: #d5d5d5;
}

.woocommerce ul.products li.product .star-rating{
    font-size:.857em
}
.woocommerce .woocommerce-product-rating:after, .woocommerce td.product-name dl.variation:after{
    clear:both
}
.woocommerce #reviews #comments ol.commentlist ul.children .star-rating{
    display:none
}
.woocommerce #reviews #comments ol.commentlist ul.children .star-rating{
    display:none
}
.woocommerce #reviews #comments ol.commentlist #respond{
    border:1px solid #e4e1e3;border-radius:4px;padding:1em 1em 0;margin:20px 0 0 50px
}
.woocommerce #reviews #comments .commentlist>li:before{
    content:""
}
.woocommerce .star-rating{
    float:right;
    overflow:hidden;
    position:relative;
    height:1em;
    line-height:1;
    font-size:12px;
    width:4.5em;
    font-family:"Ionicons";
}
.woocommerce .star-rating:before{
    content:"\f4b2\f4b2\f4b2\f4b2\f4b2";
    float:left;
    top:0;
    left:0;
    position:absolute
}
.woocommerce .star-rating span{
    overflow:hidden;
    float:left;
    top:0;
    left:0;
    position:absolute;
    padding-top:1.5em;
}
.woocommerce .star-rating span:before{
    content:"\f4b3\f4b3\f4b3\f4b3\f4b3";
    top:0;
    position:absolute;
    left:0
}
.woocommerce .star-rating:before, .woocommerce .star-rating span:before{
    color:#22e3e5;
}
.woocommerce .woocommerce-product-rating{
    line-height:2;
    display:block;
}
.woocommerce .woocommerce-product-rating:after,.woocommerce .woocommerce-product-rating:before{
    content:" ";
    display:table;
}
.woocommerce .woocommerce-product-rating .star-rating{
    margin:.5em 4px 0 0;
    float:left;
}
.woocommerce .products .star-rating{
    display:block;
    margin:5px 0;
    float:right;
}
.woocommerce .hreview-aggregate .star-rating{
    margin:10px 0 0;
}
.woocommerce ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating{
    float:none;
}

.woocommerce .products .product{
    margin-bottom: 50px;
    list-style: none;
}
.woocommerce .products .product.outofstock{
    opacity:0.2;
}

.product .onsale{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}
.woocommerce .products .product .onsale{
    position: absolute;
    right:0;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #000000;
    color: #fff;
    padding: 4px 15px;
}
.woocommerce-pagination{
    text-align: center;
    margin-top:40px;
}

/* Sidebar Widget styles */
.woocommerce .sidebar aside:first-child .widget-title{
    margin-top: 0;
}
.woocommerce .sidebar .widget_shopping_cart .remove{
    float: left;
    font-size: 24px;
    padding: 5px 20px 5px 0px;
    color:#d5d5d5;
}
.woocommerce .sidebar .widget_shopping_cart a{
    padding-left:20px;
}
.woocommerce .sidebar .widget_shopping_cart .quantity, .woocommerce .sidebar .widget_shopping_cart .variation{
    display: block;
    padding-left: 125px;
    margin-bottom: 0;
}
.woocommerce .sidebar .widget_shopping_cart .variation-color, .woocommerce .sidebar .widget_shopping_cart .variation-color p{
    font-size: 13px;
    display: inline;
}
.woocommerce .sidebar .widget_shopping_cart span.amount{
    padding:0;
}
.woocommerce .sidebar .widget_shopping_cart .total span.amount{
    float:right;
}

.woocommerce .sidebar .widget_shopping_cart .buttons a{
    padding:8px 15px;
    display:inline-block;
    background-color: #22e3e5;
    border: 2px solid;
    border-color: #22e3e5;
    color:#fff;
    font-size:13px;
}
.woocommerce .sidebar .widget_shopping_cart .buttons a:hover{
    background-color: transparent;
    color: #22e3e5;
}

.woocommerce .sidebar .widget_shopping_cart .buttons .checkout{
    margin-left:10px;
}

.woocommerce .sidebar .widget_shopping_cart .cart_list{
    margin-bottom: 40px;
    padding-left: 0;
}
.woocommerce .sidebar .widget_shopping_cart .total{
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
}

.woocommerce .sidebar .product_list_widget li{
    clear:both;
    margin-bottom: 15px;
}
.woocommerce .sidebar .product_list_widget img{
    max-width: 75px;
    height: auto;
    float:left;
    margin-bottom:15px;
    margin-right: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.woocommerce .sidebar .product_list_widget .product-title, .woocommerce .sidebar .widget_recent_reviews .product_list_widget a, .woocommerce .sidebar .product_list_widget .star-rating,  .woocommerce .sidebar .product_list_widget .star-rating span, .woocommerce .sidebar .product_list_widget .amount, .woocommerce .sidebar .product_list_widget .star-rating:before,  .woocommerce .sidebar .product_list_widget .star-rating span:before, .woocommerce .sidebar .product_list_widget .reviewer{
    
    font-size: 15px;
}
 .woocommerce .sidebar .product_list_widget .star-rating{
    width:6em;
 }
 .woocommerce .sidebar .product_list_widget .produt-title,  .woocommerce .sidebar .product_list_widget span.produt-title{
    display:block;
 }
 /*.woocommerce .sidebar .product_list_widget li >span.amount{
    display:block;
    margin-left: 75px;
 }*/

 .woocommerce .sidebar .product_list_widget .reviewer{
    font-size: 14px;
 }

.woocommerce .sidebar .widget_recently_viewed_products .product_list_widget a, .woocommerce .sidebar .widget_products .product_list_widget a{
    display: block;
}

.woocommerce .sidebar .product_list_widget del .amount{
    font-size: 15px;
}

.woocommerce .sidebar .product_list_widget ins .amount{
    padding:0px;
}

.woocommerce .widget_product_categories ul{
    padding-left:20px;
}

.woocommerce .widget_product_categories >ul{
    padding-left:0px;
}

.woocommerce .count{
    font-size: 17px;
}

.woocommerce .widget_layered_nav ul li:after,
.woocommerce .widget_layered_nav ul li:before {
    content: " ";
    display: table
}
.woocommerce .widget_layered_nav ul li.chosen a:before,
.woocommerce .widget_layered_nav_filters ul li a:before {
    font-family: "Ionicons";
    speak: none;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-weight: 400;
    line-height: 1;
    content: "\f404";
}
.woocommerce .widget_layered_nav ul li a,
.woocommerce .widget_layered_nav ul li span {
    padding: 1px 0;
}
.woocommerce .widget_layered_nav ul li.chosen a:before {
    margin-right: 10px;
}
.woocommerce .widget_layered_nav_filters ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    overflow: hidden;
    zoom: 1
}
.woocommerce .widget_layered_nav_filters ul li {
    float: left;
    padding: 0 15px 1px 0;
    list-style: none
}
.woocommerce .widget_layered_nav_filters ul li a {
    text-decoration: none
}
.woocommerce .widget_layered_nav_filters ul li a:before {
    margin-right: 5px;
}

.widget_price_filter .widget-title{
    margin-bottom: 35px;
}
.widget_price_filter .price_label{
    padding-top: 10px;
}
.woocommerce .widget_price_filter .price_slider {
    margin-bottom: 1em
}
.woocommerce .widget_price_filter .price_slider_amount {
    text-align: right;
    padding-top: 10px;
    margin-top: 40px;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
    float: left;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #000000;
    color:#ffffff;
    border:0;
    white-space: nowrap;
    padding: 6px 16px;
    line-height: 1.6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.woocommerce .widget_price_filter .price_slider_amount .button:focus {
    outline:none;
}
.woocommerce .widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
    margin-left: .5em;
    margin-right: .5em
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.4em;
    height: 1.4em;
    background-color: #22e3e5;
    cursor: ew-resize;
    outline: 0;
    top: -0.55em;
    margin-left: -.2em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-color: #22e3e5;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #d5d5d5;
    border: 0
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
    height: .25em
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
    left: -1px
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
    right: -1px
}

/* Single product */

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button{
    font-size:13px;
    background-color: #242424;
    padding:5px 10px;
    color:#fff;
    float: right;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    padding: 20px 30px 20px 3.5em!important;
    margin: 0 0 2em!important;
    position: relative;
    list-style: none!important;
    width: auto;
}
.woocommerce .woocommerce-error:after,
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:after,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:after,
.woocommerce .woocommerce-message:before {
    content: " ";
    display: table
}
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
    font-family: "Ionicons";
    content: "\f44c";
    display: inline-block;
    position: absolute;
    /* top: 15px; */
    left: 1.5em

}
.woocommerce .woocommerce-error li,
.woocommerce .woocommerce-info li,
.woocommerce .woocommerce-message li {
    list-style: none!important;
    padding-left: 0!important;
    margin-left: 0!important
}
.woocommerce .woocommerce-message {
    color: #1C7540;
    background-color: #93FFBE;
}

.woocommerce .woocommerce-error {
    color: #751C1C;
    background-color: #FF9393;
}

.woocommerce .woocommerce-info {
    color: #1C5F75;
    background-color: #93F0FF;
}
.woocommerce .woocommerce-message:before {
    content: "\f3fe";
    color: #1C7540;
}
.woocommerce .woocommerce-error:before {
    content: "\f405";
    color: #751C1C;
}
.woocommerce .woocommerce-info:before {
    color: #1C5F75;
}

/* Woocommerce single page */
.single-product-page .single-product-description{
    padding-left:45px;
}
.has-sidebar .single-product-page .single-product-description{
    padding-left:25px;
}
.single-product-page .single-product-images .thumbnails {
    margin-right:-0.6em;
    margin-left:-0.6em;
}
.single-product-page .single-product-images .thumbnails a{
    display:inline-block;
    padding:18px 0.6em;
}
.single-product-page .single-product-images .thumbnails img{
    max-width:125px;
}
.single-product-page .single-product-description .product-subtitle{
    font-size: 20px;
    margin-top:10px;
}
.single-product-page .single-product-description .woocommerce-review-link{
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
    float: none;
    color:#999999;
}

.single-product-page .single-product-description .woocommerce-product-rating{
    margin-top:25px;
    margin-bottom:30px;
    float:right;
}

.single-product-page .single-product-images .onsale{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}
.single-product-page .single-product-images .onsale{
    position: absolute;
    right:15px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #000000;
    color: #fff;
    padding: 4px 15px;
} 
.single-product-page .single-product-description .entry-summary{
    margin-top:0;
}
.single-product-page .single-product-description .product_title{
    margin-bottom: 5px;
    margin-top:0;
}
.single-product-page .single-product-description .product_title:after{
    margin-left:0;
    margin-top:0.5em;
}
.single-product-page .single-product-description .star-rating{
    font-size:18px;
    vertical-align: middle;
    margin: 0;
    float: none;
    display: inline-block;
}
.single-product-page .single-product-description .star-rating:before, .single-product-page .single-product-description .star-rating span:before{
    color:#d5d5d5;
}
.single-product-page .single-product-description .price{
    margin-top:40px;
}
.single-product-page .single-product-description del .amount{
    font-size: 24px;
    color:#d5d5d5;
}
.single-product-page .single-product-description div[itemprop="description"]{
    margin:40px 0;
    border-top:1px solid;
    border-bottom:1px solid;
    border-color:#f0f0f0;
    padding:40px 0;
}
.single-product-page .single-product-description .variations{
    margin-bottom:40px;
}
.single-product-page .single-product-description .single_variation{
    margin-bottom: 0;
}
.single-product-page .single-product-description table .label{
    padding: 0;
    font-size: 15px;
    font-weight: normal;
    color: #555555;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
}
.single-product-page .single-product-description table .label label{
    font-weight: normal;
}
.single-product-page .single-product-description table .value select{
    border-radius: 0;
    border: 1px solid #d5d5d5;
    box-shadow: none;
    background-color: transparent;
    outline: 0;
}
.single-product-page .single-product-description table .value select:focus{
    outline:0;
    box-shadow: none;
    border-radius: 0;
}
.single-product-page .single-product-description table .reset_variations{
    font-size:13px;
    margin-left:8px;
}

.single-product-page .single-product-description .single_variation .amount{
    font-size:17px;
}
.single-product-page .single-product-description .quantity input[type="number"]{
    width: 55px;
    padding: 11px 6px 11px 9px;
    border: 2px solid;
    border-color:#d5d5d5;
    vertical-align: middle;
}
.single-product-page .single-product-description .quantity input[type="number"]:focus{
    outline:none;
}

.single-product-page .single-product-description .quantity, .single-product-page .single-product-description input[type="submit"]{
    display:inline-block;
}

.single-product-page .single-product-description button {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid;
    border-color: #000000;
    color: #ffffff;
    background-color: #000000;
    white-space: nowrap;
    padding: 11px 20px;
    line-height: 1.6;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    letter-spacing: 0.02em;
    user-select: none;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
}
.single-product-page .single-product-description button:hover{
    color: #000000;
    background-color: transparent;

}

.single-product-page .single-product-description button:focus {
    outline:none;
}

.single-product-page .single-product-description .product_meta, .single-product-page .single-product-description .shop-sharing-buttons{
    display: inline-block;
    padding-top: 30px;
}
.single-product-page .single-product-description .product_meta >span{
    display: block;
    padding-bottom:5px;
    font-size:13px;
}
.single-product-page .single-product-description .shop-sharing-buttons{
    float:right;
}
.single-product-page .single-product-description .shop-sharing-buttons li{
    padding:0 10px;
}
.single-product-page .single-product-description .cart{
    border-bottom: 1px solid;
    border-color: #f0f0f0;
    padding-bottom: 40px;
}
.woocommerce .woocommerce-tabs{
    margin: 40px 0;
    padding:40px 0;
    border-top:1px solid;
    border-bottom:1px solid;
    border-color:#f0f0f0;
}
.woocommerce .wc-tabs{
    padding-left:0;
}
.woocommerce .wc-tabs li{
    padding:13px 30px;
}
.woocommerce .product-description-title, .woocommerce .product-additional-info, .woocommerce #comments{
    margin-top:40px;
}
.woocommerce .shop_attributes tr{
    border-bottom:1px solid;
    border-color:#f0f0f0;
}
.woocommerce .shop_attributes tr:last-child{
    border-color:transparent;
}
.woocommerce .shop_attributes td{
    padding:10px 0;
}
.woocommerce .shop_attributes p{
    margin:0;
}
.woocommerce #comments img{
    float:left;
    margin-right:20px;
    width:auto;
}
.woocommerce #comments ul {
    padding-top:0px;
    padding-left:0;
}
.woocommerce #comments li{
    list-style: none;
}
.woocommerce .commentlist .comment_container {
    position: relative;
    padding: 40px 0;
    border-bottom: 1px solid; 
    border-color:#f0f0f0;
}

.woocommerce .commentlist .comment_container .comment-avatar {
    position: absolute;
    left: 0;
}
.woocommerce #comments .comment-text .meta {
    margin-bottom:3px;
}
.woocommerce #comments .comment-text .meta time{
    font-size: 13px;
    color: #999999;
}
.woocommerce #comments .star-rating span:before {
    color: #22e3e5;
}

.woocommerce .comment-form p{
    margin-bottom: 0;
}

.woocommerce .comment-form label{
    display:block;
    font-weight: normal;
}
.woocommerce .comment-form input{
    width:50%;
    line-height: 1;
}
.woocommerce .comment-form textarea{
    width:100%;
    line-height: 1;
}
/*.woocommerce .comment-form input, .woocommerce .comment-form textarea{
    background-color:transparent;
    border:1px solid;
    border-color:#d5d5d5;
}*/
.woocommerce .comment-form input:focus, .woocommerce .comment-form textarea:focus{
    outline:0;
}
.woocommerce .comment-form input[type="submit"]{
    background-color:#242424;
    border:0;
    color:#fff;
    width:auto;
}
.woocommerce .comment-form-rating .stars{
    margin-bottom: 30px;
}

/* rating */
.woocommerce p.stars {
    position: relative;
    font-size: 1em;
}
.woocommerce p.stars a {
    display: inline-block;
    font-weight: 700;
    margin-right: 1em;
    text-indent: -9999px;
    position: relative;
    border-bottom: 0!important;
    outline: 0
}
.woocommerce p.stars a:last-child {
    border-right: 0;
}
.woocommerce p.stars a.star-1,
.woocommerce p.stars a.star-2,
.woocommerce p.stars a.star-3,
.woocommerce p.stars a.star-4,
.woocommerce p.stars a.star-5 {
    border-right: 1px solid #f0f0f0;
}
.woocommerce p.stars a.star-1:after,
.woocommerce p.stars a.star-2:after,
.woocommerce p.stars a.star-3:after,
.woocommerce p.stars a.star-4:after,
.woocommerce p.stars a.star-5:after {
    font-family: "Ionicons";
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    color:#22e3e5;
}
.woocommerce p.stars a.star-1 {
    width: 2em
}
.woocommerce p.stars a.star-1:after {
    content: "\f4b2"
}
.woocommerce p.stars a.star-1.active:after,
.woocommerce p.stars a.star-1:hover:after {
    content: "\f4b3"
}
.woocommerce p.stars a.star-2 {
    width: 3em
}
.woocommerce p.stars a.star-2:after {
    content: "\f4b2\f4b2"
}
.woocommerce p.stars a.star-2.active:after,
.woocommerce p.stars a.star-2:hover:after {
    content: "\f4b3\f4b3"
}
.woocommerce p.stars a.star-3 {
    width: 4em
}
.woocommerce p.stars a.star-3:after {
    content: "\f4b2\f4b2\f4b2"
}
.woocommerce p.stars a.star-3.active:after,
.woocommerce p.stars a.star-3:hover:after {
    content: "\f4b3\f4b3\f4b3"
}
.woocommerce p.stars a.star-4 {
    width: 5em
}
.woocommerce p.stars a.star-4:after {
    content: "\f4b2\f4b2\f4b2\f4b2"
}
.woocommerce p.stars a.star-4.active:after,
.woocommerce p.stars a.star-4:hover:after {
    content: "\f4b3\f4b3\f4b3\f4b3"
}
.woocommerce p.stars a.star-5 {
    width: 6em;
    border: 0
}
.woocommerce p.stars a.star-5:after {
    content: "\f4b2\f4b2\f4b2\f4b2\f4b2"
}
.woocommerce p.stars a.star-5.active:after,
.woocommerce p.stars a.star-5:hover:after {
    content: "\f4b3\f4b3\f4b3\f4b3\f4b3"
}

.woocommerce .related, .woocommerce .upsells {
    height:auto !important;
    padding-bottom:30px;
    margin-bottom:40px;
    border-bottom:1px solid;
    border-color:#f0f0f0;
}
.woocommerce .related h2, .woocommerce .upsells h2{
    font-size:30px;
    margin-bottom:30px;
}

.woocommerce .related-products-heading, .woocommerce .up-sells-heading {
    margin-bottom:30px;
}

/* Cart page */

.woocommerce .page-cart-summary .product-thumbnail img{
    max-width: 90px;
}
.woocommerce .page-cart-summary .product-remove a{
    padding-right:20px;
    font-size:30px;
    color:#d5d5d5;
}

.woocommerce .page-cart-summary .shop_table .variation-color{
    font-size:12px;
    display: inline-block;
}
.woocommerce .page-cart-summary .product-name dl{
    margin-bottom: 0;
}

.woocommerce .page-cart-summary .shop_table .quantity input{
    width: 55px;
    padding: 6px;
    border: 2px solid;
    border-color: #d5d5d5;
    background-color: transparent;
    vertical-align: middle;
}
.woocommerce .page-cart-summary .shop_table .quantity input:focus{
    outline:0;
}
.woocommerce .page-cart-summary .shop_table thead{
    background-color: #242424;
    color: #fff;
}
.woocommerce .page-cart-summary .shop_table thead th{
    padding:15px 0;
}
.woocommerce .page-cart-summary .shop_table .cart_item td{
    padding:30px 0;
    border-bottom:1px solid;
    border-color:#f0f0f0;
}
.woocommerce .page-cart-summary .shop_table input{
    outline:0;
    font-size: 14px;
}
.woocommerce .page-cart-summary .shop_table input[type="text"]{
    width: 240px;
    padding: 10px;
    vertical-align: middle;
    margin-right: 10px;
    border: 1px solid #d5d5d5;
    background-color: transparent;
}

.woocommerce .page-cart-summary .shop_table input[type="submit"]{
    background-color: transparent;
    color: #fff;
    background-color: #000000;
    border:2px solid;
    border-color: #000000;
    padding: 13px 20px;
    display:inline-block;
    vertical-align: middle;
    float:right;
}
.woocommerce .page-cart-summary .shop_table input[type="submit"]:hover{
    background-color: transparent;
    color: #000;
}
.woocommerce .page-cart-summary .shop_table tbody tr:last-child td{
    padding: 30px;
    background-color: #f6f7f8;
}

.woocommerce .page-cart-summary .shop_table .coupon input[type="submit"]{
    float:none;
    background-color: #555555;
    border-color: #555555;
}
.woocommerce .page-cart-summary .shop_table .coupon input[type="submit"]:hover{
    background-color: transparent;
    color: #555555;
}
.woocommerce .page-cart-summary .shop_table .coupon{
    display:inline-block;
    vertical-align: middle;
}
.woocommerce .page-cart-summary .shop_table .coupon label{
    display:none;
}

.woocommerce .page-cart-summary .cross-sells{
    padding:60px 0;
}

.woocommerce .page-cart-summary .cross-sells h2{
    font-size:30px;
    margin-bottom:30px;
}
.woocommerce .page-cart-calculation .cart-collaterals{
    border: 1px solid; 
    border-color: #D5D5D5;
    padding: 20px;
}
.woocommerce .page-cart-calculation .cart-collaterals .shipping ul{
    padding-left:0;
    padding-top:10px;
}
.woocommerce .page-cart-calculation .cart-collaterals .shipping li{
    list-style: none;
    padding:5px 0px;
}
.woocommerce .page-cart-calculation .cart-collaterals .cart_totals h2{
    margin-top:0;
    margin-bottom:20px;
    font-size: 30px;
}
.woocommerce .page-cart-calculation .cart-collaterals .cart_totals th{
    vertical-align: baseline;
    padding: 20px 0;
    padding-right: 2em;
    width: 40%;
}
.woocommerce .page-cart-calculation .cart-collaterals .cart_totals tr{
    border-bottom: 1px solid;
    border-color: #f0f0f0;
}
.woocommerce .page-cart-calculation .cart-collaterals .cart_totals tr td{
    /* text-align:right; */
}
.woocommerce .page-cart-calculation .cart-collaterals .cart_totals .shipping td{
    padding-top: 20px;
    width: 60%;
}
.woocommerce .page-cart-calculation .cart-collaterals .wc-proceed-to-checkout a{
    display: block;
    color: #ffffff;
    background-color:#000000;
    padding: 15px 20px;
    text-align:center;
    margin-top:20px;
}
.woocommerce .page-cart-calculation .cart-collaterals .wc-proceed-to-checkout a:hover{
    background-color:#22e3e5;
}
.woocommerce-shipping-calculator .shipping-calculator-button{
    color:#22e3e5;
}
.woocommerce-shipping-calculator select, .woocommerce-shipping-calculator input{
    width: 100%;
    border: 1px solid #d5d5d5;
    background-color: transparent;
}
.woocommerce .cart_totals .shipping-calculator-form input[type="text"]{
    padding: 5px 10px;
    vertical-align: middle;
    border: 1px solid #d5d5d5;
    background-color: transparent;
    font-size: 15px;
}

.woocommerce .cart_totals .shipping-calculator-form button{
    background-color: transparent;
    color: #fff;
    background-color: #555555;
    border: 2px solid;
    border-color: #555555;
    padding:4px 12px;
    font-size: 13px;
    display:inline-block;
    vertical-align: middle;
}

.woocommerce .cart_totals .shipping-calculator-button:after{
    content:"\f41f";
    font-family: "Ionicons";
    display: inline-block;
    padding-left: 10px;
    font-size: 24px;
    margin-top: -4px;
    vertical-align: middle;
}

/* Check out page */
.woocommerce #customer_details{
    padding-right:30px;
}
.woocommerce .checkout_coupon .form-row{
    display:inline-block;
}
.woocommerce .checkout_coupon input[type="text"]{
    padding: 11px 15px;
    vertical-align: middle;
    border: 1px solid; 
    border-color:#d5d5d5;
    background-color: transparent;
    display:inline-block;
}

.woocommerce .checkout_coupon input[type="submit"]{
    color: #fff;
    background-color: #555555;
    border: 2px solid;
    border-color: #555555;
    padding:15px 20px;
    vertical-align: middle;
}

.woocommerce .checkout_coupon input[type="text"]:focus, .woocommerce .checkout_coupon input[type="submit"]:focus{
    outline:none;
}

.customer-billing-details, .customer-order-details{
    margin:40px 0;
}
.customer-billing-details .woocommerce-billing-fields h3, #order_review_heading{
    margin-top:0;
    margin-bottom:30px;
    font-size: 30px;
}

.woocommerce-billing-fields label, .shipping_address label{
    font-weight: normal;
    font-size: 13px;
    display:block;
    color: #999;
    margin-bottom: 5px;
}

.woocommerce-billing-fields .form-row, .shipping_address .form-row{
    display:inline-block;
    float:left;
}

.woocommerce-billing-fields input, .woocommerce-billing-fields textarea{
    outline: 0;
}

.woocommerce-billing-fields .form-row input, .shipping_address .form-row input, .woocommerce-billing-fields .form-row .select2-container .select2-choice{
    width:100%;
    border:1px solid;
    border-color: #e8e8e8;
    background-color: transparent;
    padding: 10px;
}
.woocommerce-billing-fields .form-row select{
    width: 100%
}

.woocommerce-billing-fields .form-row.create-account input{
    width: auto;
}

.woocommerce-billing-fields .form-row.create-account label{
    display: inline-block;
}

.select2-drop-active{
    border-color: #e8e8e8;
}
.select2-drop.select2-drop-above.select2-drop-active{
    border-top-color: #e8e8e8;
}
.woocommerce-billing-fields .form-row-wide, .shipping_address .form-row-wide{
    width:100%;
}
.woocommerce-billing-fields .form-row-first, .shipping_address .form-row-first{
    width: 100%;
}
.woocommerce-billing-fields .form-row-last, .shipping_address .form-row-last{
    width: 100%;
    padding-right: 0;
}

.woocommerce-shipping-fields #ship-to-different-address label {
    font-size:24px;
    display:inline-block;
    padding-left:0;
}

.woocommerce-shipping-fields .notes textarea{
    display:block;
    width:100%;
    border:1px solid;
    border-color:#d5d5d5;
}

.woocommerce .login label, .woocommerce .lost_reset_password label{
    display:block;
    font-weight: normal;
    font-size: 13px;
}
.woocommerce .login label.inline{
    display:inline;
    padding-left:10px;
}
.woocommerce .login label.inline input{
    margin-right:5px;
}

.woocommerce .login .form-row-wide input{
    width:100%;
    max-width:300px;
    background-color: transparent;
    border:1px solid;
    border-color:#d5d5d5;
}
.woocommerce .login input[type="submit"]{
    color: #fff;
    background-color:#22e3e5;
    border:0;
    padding:8px 15px;
    vertical-align: middle;
    display:inline-block;
}
.woocommerce .lost_reset_password input[type="submit"]{
    background-color: #555555;
    border: 0;
    padding: 12px 20px;
}
.woocommerce .checkout_coupon input[type="text"]:focus, .woocommerce .checkout_coupon input[type="submit"]:focus{
    outline:none;
}

.woocommerce .woocommerce-checkout-review-order{
    padding: 20px;
    border: 1px solid #d5d5d5;
}
.woocommerce .woocommerce-checkout-review-order-table .product-quantity{
    padding-right: 40px;
    float: right;
}
.woocommerce .woocommerce-checkout-review-order-table thead, .woocommerce .woocommerce-checkout-review-order-table tbody, .woocommerce .woocommerce-checkout-review-order-table tfoot {
    border-bottom:1px solid;
    border-color:#f0f0f0;
}
.woocommerce .woocommerce-checkout-review-order-table thead th{
    padding-bottom:15px;
}
.woocommerce .woocommerce-checkout-review-order-table tbody td, .woocommerce .woocommerce-checkout-review-order-table tfoot th{
    padding:15px 0;
    width:50%;
    vertical-align: top;
}
.woocommerce .woocommerce-checkout-review-order-table .variation-color{
    font-size:12px;
    display: inline-block;
}
.woocommerce .woocommerce-checkout-review-order-table .shipping ul{
    padding-left:0;
    padding-top:10px;
}
.woocommerce .woocommerce-checkout-review-order-table .shipping li{
    list-style: none;
    padding:5px 0px;
}
.woocommerce .woocommerce-checkout-review-order-table .shipping select.shipping_method{
    border:1px solid;
    border-color:#d5d5d5;
    width:100%;
}
.woocommerce .woocommerce-checkout-review-order-table .shipping select.shipping_method:focus{
    box-shadow: none;
    outline: 0;
}
.woocommerce-checkout-payment .payment_methods{
    margin:15px 0;
    padding:20px;
    background-color: #f6f7f8;
}
.woocommerce-checkout-payment .payment_methods li{
    list-style: none;
    margin-bottom: 15px;
}

.woocommerce-checkout-payment .payment_methods p{
    font-size: 12px;
    margin-bottom:0;
    padding-left: 25px;
}
.woocommerce-checkout-payment li{
    padding:0;
}
.woocommerce-checkout-payment li:first-child, .woocommerce-checkout-payment li:last-child{
    padding:0;
}
.woocommerce-checkout-payment li img{
    display:block;
}
.woocommerce-checkout-payment label{
    vertical-align: top;
    padding-left:5px;    
    display:inline-block;
}
.woocommerce-checkout-payment .about_paypal{
    font-size:12px;
}
.woocommerce-checkout-payment .place-order input[type="submit"]{
    display: block;
    width:100%;
    color: #ffffff;
    background-color: #000000;
    border:0;
    padding: 16px 20px;
    text-align:center;
    margin-top:20px;
}
.woocommerce-checkout-payment .place-order input[type="submit"]:hover{
    background-color: #22e3e5
}
.woocommerce-checkout-payment .place-order input[type="submit"]:focus{
    box-shadow: none;
    outline: 0
}
/* order details */
.woocommerce .order_details{
    margin:0 0 1.5em;
    list-style:none;
    padding-bottom: 30px;
    padding-left:0;
}
.woocommerce .order_details:after,.woocommerce .order_details:before{
    content:" ";
    display:table
}
.woocommerce .order_details li{
    float:left;
    margin-right:2em;
    text-transform:uppercase;
    font-size:.715em;
    line-height:1;
    border-right:1px dashed #d3ced2;
    padding-right:2em;
    margin-left:0;
    padding-left:0
}
.woocommerce .order_details li strong{
    display:block;
    font-size:1.4em;
    text-transform:none;
    line-height:1.5
}
.woocommerce .order_details li:last-of-type{
    border:none
}
.order_details tr, .customer_details tr{
    border:1px solid;
    border-color:#f0f0f0;
}
.order_details th, .order_details td, .customer_details th, .customer_details td{
    padding:10px 20px;
}
.woocommerce .order_details .variation .variation-pa_color{
    font-size:12px;
    display: inline-block;
}
.col2-set.addresses{
    margin:0 -15px;
}
.col2-set.addresses .col-1, .col2-set.addresses .col-2{
    width:50%;
    padding:0 15px;
    float:left;
}
.myaccount_user {
    padding: 30px;
    border: 1px solid #d5d5d5;
}

/* My Account Page */
.woocommerce .my_account_orders.shop_table thead{
    background-color: #242424;
    color: #fff;
}
.woocommerce .my_account_orders.shop_table thead th{
    padding:15px 10px;
}
.woocommerce .my_account_orders.shop_table tbody tr{
    border-bottom:1px solid;
    border-color:#f0f0f0;
}
.woocommerce .my_account_orders.shop_table tbody td{
    padding:30px 10px;
}

/* Order Tracking */
.woocommerce .track_order label{
    display: block;
    font-size: 13px;
    margin-bottom: 3px;
}
.woocommerce .track_order input{
    padding:10px;
    width:50%;
}
.woocommerce .track_order input[type="submit"]{
    width: auto;
    padding: 10px 20px;
    background-color: #000000;
    border: 0;
}

/* Menu cart */

.header-cart-toggle .woocommerce-Price-currencySymbol{
    display: inline;
}
.header-cart-toggle span{
    padding: 7px 5px;
}
.header-cart-toggle .header-cart-icon{
    padding: 0px;
}
.header-cart-toggle .product-count{
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 5px;
    margin-top: -8px;
    margin-right: -7px;
    background-color: #22e3e5;
    border-radius: 50%;
    color: #fff;
}
.header-cart-toggle .cart-contents {
    padding:0;
    height: 32px;
    display: inline-block;
}
.cart-contents .header-toggle{
    margin-left:9px;
    float: right;
    display: inline-block;
}
.cart-contents .amount{
    vertical-align: bottom;
    line-height: 1;
    color:#d5d5d5;
    display: inline-block;
    font-size: 15px;
    padding:0;
    margin-top:10px;
    margin-bottom:10px;
}

.header-cart-toggle .widget_shopping_cart{
    visibility:hidden;
    opacity:0;
    position:absolute;
    margin:0;
    right:0;
    z-index: 1;
    transition:visibility 0s ease 0s, opacity 0.5s ease;
    -webkit-transition:visibility 0s ease 0s, opacity 0.5s ease;
}
.header-cart-toggle:hover .widget_shopping_cart{
    visibility:visible;
    opacity:1;
    padding-bottom: 0;
    transition-delay:0s;
    -webkit-transition-delay:0s;
}
.header-cart-toggle .widget_shopping_cart{
    background-color: #242424;
}
.header-cart-toggle .widget_shopping_cart ul{
    padding-left:0;
    margin: 15px;
    width: 240px;
}

.header-cart-toggle .widget_shopping_cart li{
    border-bottom:1px solid;
    border-color:#333;
    padding:20px 0;
    margin-top:-20px;
}
.header-cart-toggle .widget_shopping_cart li.empty{
    border: 0;
    margin: 0;
    padding: 0;
}
.header-cart-toggle .widget_shopping_cart .remove{
    padding: 10px 15px 10px 10px;
    font-size: 18px;
    color: #999;
    position: relative;
    top: 10px;
}
.header-cart-toggle .widget_shopping_cart img{
    max-width: 50px;
    height: auto;
    margin-right: 15px;
    margin-top:20px;
}
.header-cart-toggle .widget_shopping_cart a{
    font-size: 13px;
}
.header-cart-toggle .widget_shopping_cart .variation{
    margin-left: 100px;
    margin-top: -30px;
    margin-bottom:5px;
    display: block;
}
.header-cart-toggle .widget_shopping_cart .variation dt, .header-cart-toggle .widget_shopping_cart .variation dd{
    display: inline-block;
    font-size:12px;
}

.header-cart-toggle .widget_shopping_cart .quantity{
    display: block;
    margin-top: -30px;
    margin-left: 95px;
}
.header-cart-toggle .widget_shopping_cart .quantity span{
    display:inline-block;
}
.header-cart-toggle .total, .header-cart-toggle .buttons{
    padding:10px 25px;
}
.header-cart-toggle .buttons a{
    padding: 8px 15px;
    margin-right: 10px;
    background-color:#22e3e5;
    color:#fff;
    font-size:13px;
}
.header-cart-toggle .total span{
    display: inline-block;
}

/**
 * EasyZoom core styles
 */
.easyzoom {
    position: relative;

    /* 'Shrink-wrap' the element */
    display: block;
    *display: inline;
    *zoom: 1;
}

.easyzoom img {
    vertical-align: bottom;
}

.easyzoom.is-loading img {
    cursor: progress;
}

.easyzoom.is-ready img {
    cursor: crosshair;
}

.easyzoom.is-error  img {
    cursor: not-allowed;
}

.easyzoom-notice {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 150;
    width: 10em;
    margin: -1em 0 0 -5em;
    line-height: 2em;
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
    position:absolute;
    z-index: 1;
    overflow: hidden;
    background: #FFF;
}
.woocommerce .product .easyzoom-flyout img {
    max-width: none;
    width:auto;
} 

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

/* WooCommerce Shortcodes */
.shortcode-products .products .product-content{
    padding: 5px 1.325em;

}
