.careers_title
{
	padding: 30px;
}
.careers_title h2
{
  font-weight: 700;
  font-size: 42px !important;
  color: #66c5e2;
}
.career-listing-maindiv
{
	margin-top: 80px;
	margin-bottom:80px;
}
.career-listing
{
	padding: 0px !important;
    margin-bottom: 13px;
    margin-top: 13px; 
}
.career-listing-detail
{
	margin-top: 10px;
    margin-bottom: 10px;
}
.career-listing-detail .wpb_content_element
{
	margin-top: auto !important;
	margin-bottom: auto !important;
}
.career-listing-button
{
	margin-top: 30px;
    margin-bottom: 30px;
}
.career-listing-sub
{
	width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 23px 6px 23px;
    border: 1px solid #e0e0e0;
    border-radius: 9px;
}
.career-listing-detail h6
{
	margin-bottom: 11px !important;
}
.career-listing-button a
{
	padding: 7px 15px 7px 15px;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #59bedd;
    background: #fff;
    color: #59bedd !important;
}

.career-listing:hover .career-listing-sub{
 background: #59bedd !important; 
 border: 1px solid #59bedd;
 color: #fff !important;
}
.career-listing:hover .career-listing-sub p{
 color: #fff !important;
}
.career-listing:hover .career-listing-button a{
 background: #fff;
 color: #59bedd !important;
}
.career-listing-button a:hover
{
	background: #fff;
}
.career-listing-button a:active
{
  background: #fff !important;
}
.career-listing-heading
{
	  font-size: 18px;
    margin-top: 4px;
    margin-bottom: 9px;
   text-transform: capitalize !important;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.career-listing-location
{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #acacac;
}
.career-btn {
	/* margin-right: 60px !important;
    margin-top: 48px !important;
    padding: 15px 30px 15px 30px !important;
    font-size: 20px;
    font-weight: lighter;
    border: 1px solid #fff !important; */
}
.call-to-action-button-div 
{
  float: right;
}
.call-to-action-additonal
{
      margin-bottom: 10px;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
.call-to-action-style-2 .call-to-action-description {
	    width: 68% !important;
	}
.career-btn {
    margin-top: 40px !important;
    margin-right: 50px !important;
}
.call-to-action-heading
{
  font-size: 23px !important;
}
.call-to-action-additonal
{
  font-size: 21px !important;
}
}


@media only screen and (min-width:589px) and (max-width: 768px) {
  /* Styles */
  .call-to-action-style-2 .call-to-action-description
  {
    width: 100% !important;
  }
  .call-to-action-heading
  {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  .call-to-action-additonal
  {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  .call-to-action-button-div
  {
    float:none;
    text-align: center;
  }
  .call-to-action-button
  {
    margin-top: 7px !important;
    margin-left: 0px;
    margin-right: 0px !important;
    margin-bottom: 7px;
    float: none !important;
  }
  .cta .call-to-action-button
  {
    margin-top: 2%!important;
  }
  .career-listing-maindiv
  {
    margin-top: 50px;
    margin-bottom:50px;
  }
  .career-listing
  {
    margin-bottom: 10px;
    margin-top: 10px; 
  }
  .careers_title h2 {
  font-weight: 600 !important;
  font-size: 36px !important;
  }
}


/*@media only screen and (min-width: 320px) and (max-width: 480px) {

   .career-listing-button
  {
    margin: 13px !important;
  }
  .career-listing-heading
  {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  .career-listing-location
  {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  .career-listing-button .text-right
  {
    text-align: center !important;
  }
  .career-btn
  {
    padding: 9px !important;
    font-size: 15px !important;
    margin: 5px !important;
  }
  .call-to-action-heading
  {
    font-size: 20px;
  }
  .call-to-action-additonal
  {
    font-size: 17px;
  }
    .career-listing-maindiv 
  {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .cta .call-to-action-button {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto !important;
}
}*/


@media only screen and (min-width: 320px) and (max-width: 588px) {
  /* Styles */
  .career-listing-sub
  {
    width: 80% !important;
  }
   .career-listing-button
  {
    margin: 13px !important;
  }
  .career-listing-heading
  {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  .career-listing-location
  {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  .career-listing-button .text-right
  {
    text-align: center !important;
  }
  .career-btn
  {
    padding: 9px 15px 9px 15px !important;
    font-size: 15px !important;
    margin: 5px !important;
  }
   .call-to-action-heading
  {
    font-size: 20px;
  }
  .call-to-action-additonal
  {
    font-size: 17px;
  }
  .career-listing-maindiv 
  {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .cta .call-to-action-button {
    margin-bottom: 15px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .call-to-action-heading
  {
    margin-top: 0px !important;
    font-size: 22px !important;
  }
  .call-to-action-additonal
  {
    font-size: 21px !important;
  }
  .call-to-action-button-div {
    float: none;
  }
  .careers_title h2 {
  font-weight: 500 !important;
  font-size: 33px !important;
  }
}



