.careers_title {
    padding: 30px;
}
.careers_title h2
{
    text-transform: uppercase;
    font-weight: 700;
   font-size: 42px !important;
    color: #66c5e2;
}
.careers-detail-maindiv
{
	margin-top: 80px;
	margin-bottom:80px;
}
.careers-detail-maindiv h5
{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 24px;
}
.careers-detail-maindiv p
{
  color: #666666;
}
.careers-detail-maindiv ul {
   list-style: none;
}
.list
{
   padding-left: 18px !important;
}
.careers-detail-maindiv li {
list-style-type: disc!important;
    font-size: 17px;
    line-height: 26px;
    color: #a8a3a3;
}
.careers-detail-maindiv li p{
  font-size: 15px!important;
  }
.careers-detail-maindiv li i
{
	margin-left:0px;
}
.careers-detail-maindiv  li
{
	padding-left: 0px;
  margin-bottom: 0px;
}

.careers-detail-row{
	margin-bottom: 34px !important;
}
.careers-detail-row1
{
    margin-bottom: 20px !important;
}
.career-detail-btn
{
	text-align: center !important;
    margin-top: 30px !important;
}
.career-detail-btn a
{
	padding: 12px 45px 12px 45px !important;
    font-size: 22px !important;
    font-weight: 400 !important;
    background: #66c5e2 !important;
    color: #fff !important;
    border: 1px solid #66c5e2  !important;
}
.career-detail-btn a:hover
{
  padding: 12px 45px 12px 45px !important;
    font-size: 22px !important;
    font-weight: 400 !important;
    background: #fff !important;
    color: #66c5e2 !important;
   border: 1px solid #66c5e2  !important;
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .careers-detail-maindiv li i
  {
     padding: 0px;
  }
  .careers-detail-maindiv {
  margin-top: 50px;
  margin-bottom: 50px;
  }
    .careers_title h2 {
  font-weight: 500 !important;
  font-size: 33px !important;
  }
  .career-detail-btn a
  {
    font-size: 16px !important;
  }
  }
@media only screen and (min-width:568px) and (max-width: 768px) {
      .careers_title h2 {
  font-weight: 600 !important;
  font-size: 36px !important;
  }
  .career-detail-btn a
  {
    font-size: 20px !important;
  }
  }
