.careers_title
{
	padding: 20px;
}
.careers_title p {
    font-size: 22px;
    color: #84827f;
}
.careers_title h2
{
	margin-bottom: 0px;
        text-transform: uppercase;
    font-weight: 700;
   font-size: 42px !important;
    color: #66c5e2;
}
.career-apply-maindiv
{
	margin-top: 80px;
	margin-bottom:80px;
}
.career-apply-maindiv h5
{
	color: #5CBDE0;
	font-weight: 400;
}
.career-apply-maindiv input:focus
{
	outline: none;
}
.career-apply-maindiv input[type="text"],[type="tel"],[type="number"],input[type="email"]
{
	padding-left: 10px !important;
    padding-bottom: 20px !important;
}
.career-apply-maindiv select
{
	color: #555;
	padding-bottom: 24px !important;
    padding-left: 10px !important;
}
.career-apply-maindiv select:focus
{
	outline: none;
}
/*.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
    content: 'Choose File';
    display: inline-block;
    background: #c9c9c9;
    padding: 11px 18px;
    outline: none;
    color: #fff;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 13pt;
    float: right;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}*/

.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 17px;
    //border: 1px solid #ccc;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative; 
    margin-bottom: 5px;
    //border: 1px solid #ccc;
}
.file-upload-input {
    width: 60%;
    float: left;
    font-size: 16px;
    padding-top: 13px !important;
    padding-bottom: 11px !important;
}
.file-upload-button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    padding: 16px 20px;
    border: none;
    background-color: #b6b4b4;
    float: left;
    margin-left: 27px;
    width: 30%;
    border: 1px solid #b6b4b4;
    margin-bottom: 35px;
}
.apply-btn
{
	background: #58bedb !important;
    border: 1px solid #58bedb !important;
    color: #fff !important;
    padding: 18px 35px 18px 35px !important;
    text-transform: uppercase !important;
}
.btn-div
{
	margin-top: 20px;
	text-align: center;
}
.back-btn
{
	padding: 16px 50px 16px 50px;
    border: 1px solid #58bedb;
    text-transform: uppercase;
    color: #58bedb;
    margin-right: 20px;
}
.ajax-loader{
	width: 100% !important;
    background-repeat: no-repeat!important;
    background-position: 50% 50% !important;
}

@media only screen and (min-width:568px) and (max-width: 768px) {
	.tab-view
		{
			width: 100% !important;
		}
	.file-upload-wrapper {
	margin-left: 30px;
	position: relative;
		z-index: 10000;
	}
        .careers_title h2 {
  font-weight: 600 !important;
  font-size: 36px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
        .career-apply-maindiv input[type="text"],[type="tel"],[type="number"],input[type="email"]
        {
        padding-bottom: 9px !important;
        }
        .mobile-view
        {
        width: 100% !important;
        }
        .tab-view
        {
        width: 100% !important;
        }
        .file-upload-button
        {
        padding: 10px 0px !important;
        margin-bottom: 59px !important;
        font-size: 13px;
        position: relative;
        z-index: 1;
        width: 41%;
        margin-left: 9px;
        }
        .career-apply-maindiv
        {
        margin-top: 50px;
        margin-bottom:50px;
        }
        .back-btn {
        padding: 10px 30px 10px 30px !important;
        margin-right: 14px;
        }
        .apply-btn {
        padding: 12px 20px 12px 20px !important;
        }
        .careers_title h2 {
        font-weight: 500 !important;
        font-size: 33px !important;
        }
        .file-upload-input {
        width: 55%;
        float: left;
        font-size: 14px;
        padding-top: 9px !important;
        padding-bottom: 9px !important;
        z-index:1 !important;
        }
        .career-apply-maindiv input[type="text"],[type="tel"],[type="number"],input[type="email"]
        {
            position: relative;
            z-index: 10000;
        }
        .career-apply-maindiv select
        {
            position: relative;
            z-index: 10000;
            padding-bottom: 9px !important;
        }
	}