.careers_title
{
	padding: 30px;
}
.careers_title h2
{
  font-weight: 700;
  font-size: 42px !important;
  color: #66c5e2;
}
.career-btn {
	/* margin-right: 60px !important;
    margin-top: 48px !important;
    padding: 15px 30px 15px 30px !important;
    font-size: 20px;
    font-weight: lighter;
    border: 1px solid #fff !important; */
}
.call-to-action-button-div 
{
  float: right;
}
.call-to-action-additonal
{
      margin-bottom: 10px;
}
.contact-form h4
{
	  color: #66c5e2;
}
.cookie-contact-form-2 .wpcf7-form-control
{
  padding: 10px 14px;
}
.enquiry
{
	padding-left: 28px;
}

.address_icon
{
  font-size: 42px;
    float: left;
    margin-top: 3px;
    color: #deded7;
}
.address_span
{
  float: left;
  margin-left: 9px;
}
.address_div
{
  width: 100%;
  float: left;
}
.address_hr
{
    margin-top: 40px !important;
    margin-bottom: 30px !important;
}
.address_content
{
  color: #9e9999 !important;
}
.address_content_hr
{
  margin-top: -11px;
  border-top: 3px solid #9e9999 !important;
}
.submit_btn
{
      padding: 16px 60px !important;
    font-size: 18px !important;
    background: #66c5e2 !important;
    color: #fff!important;
    border: none!important;
}
.ajax-loader{
  width: 100% !important;
    background-repeat: no-repeat!important;
    background-position: 50% 50% !important;
}
div.wpcf7-response-output
{
  margin: 0px !important;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
.call-to-action-style-2 .call-to-action-description {
	    width: 68% !important;
	}
.career-btn {
    margin-top: 40px !important;
    margin-right: 50px !important;
}
.call-to-action-heading
{
  font-size: 23px !important;
}
.call-to-action-additonal
{
  font-size: 21px !important;
}
.address_span {
    float: left;
    margin-left: 2px;
    margin-top: 7px;
}
.address_main
{
  line-height: 1.2 !important;
}
.contact-form
{
  padding-bottom: 0px !important;
}
  .address_number {
    }

}


@media only screen and (min-width:589px) and (max-width: 768px) {
  /* Styles */
  .call-to-action-style-2 .call-to-action-description
  {
    width: 100% !important; 
  }
  .call-to-action-heading
  {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  .call-to-action-additonal
  {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  .call-to-action-button-div
  {
    float:none;
    text-align: center;
  }
  .call-to-action-button
  {
    margin-top: 7px !important;
    margin-left: 0px;
    margin-right: 0px !important;
    margin-bottom: 7px;
    float: none !important;
  }
  .cta .call-to-action-button
  {
    margin-top: 2%!important;
  }

  .careers_title h2 {
  font-weight: 600 !important;
  font-size: 36px !important;
  }
  .address_div {
  text-align: center !important;
  }
  .address_content {
  text-align: center !important;
  }
  .address_content_hr 
  {
  width: 30% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  }
  .address_number{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  }
  .contact-form
  {
  padding-bottom: 60px !important;
  }
  .address_span {
  float: left;
  margin-left: 2px;
  margin-top: -3px !important;
  }
  .address_main
  {
  line-height: 1.8 !important;
  }
}


@media only screen and (min-width: 426px) and (max-width: 588px) {

  .career-btn
  {
    padding: 9px 15px 9px 15px !important;
    font-size: 15px !important;
    margin: 5px !important;
  }
   .call-to-action-heading
  {
    font-size: 20px;
  }
  .call-to-action-additonal
  {
    font-size: 17px;
  }
  .cta .call-to-action-button {
    margin-bottom: 15px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .call-to-action-heading
  {
    margin-top: 0px !important;
    font-size: 22px !important;
  }
  .call-to-action-additonal
  {
    font-size: 21px !important;
  }
  .call-to-action-button-div {
    float: none;
  }
  .careers_title h2 {
  font-weight: 500 !important;
  font-size: 33px !important;
  }
  .address_div {
  text-align: center !important;
  }
  .address_content {
  text-align: center !important;
  }
  .address_content_hr 
  {
  width: 30% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  }
  .address_number{
    width: 50%;
  margin-left: auto;
  margin-right: auto;
  }
  .contact-form
  {
  padding-bottom: 60px !important;
  }
  .address_span {
    float: left;
    font-size: 12px;
    margin-left: 2px;
    margin-top: 1px !important;
  }
  .address_icon {
    font-size: 36px !important;
}
  .address_main
  {
  line-height: 1.8 !important;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .career-btn
  {
    padding: 9px 15px 9px 15px !important;
    font-size: 15px !important;
    margin: 5px !important;
  }
   .call-to-action-heading
  {
    font-size: 20px;
  }
  .call-to-action-additonal
  {
    font-size: 17px;
  }
  .cta .call-to-action-button {
    margin-bottom: 15px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .call-to-action-heading
  {
    margin-top: 0px !important;
    font-size: 22px !important;
  }
  .call-to-action-additonal
  {
    font-size: 21px !important;
  }
  .call-to-action-button-div {
    float: none;
  }
  .careers_title h2 {
  font-weight: 500 !important;
  font-size: 33px !important;
  }
  .address_div {
  text-align: center !important;
  }
  .address_content {
  text-align: center !important;
  }
  .address_content_hr 
  {
  width: 30% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  }
  .address_number{
    width: 60%;
  margin-left: auto;
  margin-right: auto;
  }
  .contact-form
  {
  padding-bottom: 60px !important;
  }
  .address_span {
    float: left;
    font-size: 12px;
    margin-left: 2px;
    margin-top: 1px !important;
  }
  .address_icon {
    font-size: 36px !important;
}
  .address_main
  {
  line-height: 1.8 !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {    .career-btn
  {
    padding: 9px 15px 9px 15px !important;
    font-size: 15px !important;
    margin: 5px !important;
  }
   .call-to-action-heading
  {
    font-size: 20px;
  }
  .call-to-action-additonal
  {
    font-size: 17px;
  }
  .cta .call-to-action-button {
    margin-bottom: 15px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .call-to-action-heading
  {
    margin-top: 0px !important;
    font-size: 22px !important;
  }
  .call-to-action-additonal
  {
    font-size: 21px !important;
  }
  .call-to-action-button-div {
    float: none;
  }
  .careers_title h2 {
  font-weight: 500 !important;
  font-size: 33px !important;
  }
  .address_div {
  text-align: center !important;
  }
  .address_content {
  text-align: center !important;
  }
  .address_content_hr 
  {
  width: 30% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  }
  .address_number{
    width: 67%;
  margin-left: auto;
  margin-right: auto;
  }
  .contact-form
  {
  padding-bottom: 60px !important;
  }
  .address_span {
    float: left;
    font-size: 12px;
    margin-left: 2px;
    margin-top: 1px !important;
  }
  .address_icon {
    font-size: 36px !important;
}
  .address_main
  {
  line-height: 1.8 !important;
  }
}
