
.ubermenu-nav {
	padding-top: 32px !important;
	padding-bottom:20px !important;
}
.ubermenu-submenu-id-4199
{
	margin-top: 17px !important;
}
.ubermenu-submenu-type-mega {
    margin-left: 2% !important;
	margin-right: 2% !important;
	width:96% !important;
}
.ubermenu
{
     margin-top: 0px !important;
}
.ubermenu-skin-white {
    border-bottom: 0px !important;
}
.ubermenu-nav li:nth-child(7n)
{
	 border: 0px solid #ddd !important; 
     border-style: ridge;
     /*background-color: #f9c754;*/ 
     padding: 0px 0px !important; 
     border-radius: 0px !important; 
}
.ubermenu-nav li:hover:nth-child(7n)
{
	border: 0px solid #ddd !important; 
     border-style: ridge;
     /*background-color: #f9c754;*/ 
     padding: 0px 0px !important; 
     border-radius: 0px !important;
}

.ubermenu.ubermenu-main .ubermenu-submenu .ubermenu-tab.ubermenu-active > .ubermenu-target {
	background : #fff !important;
}
.cta .call-to-action-heading {
	font-family:'Poppins';
}
.cta {
    background: linear-gradient(to right, #4ab9d4 , #65a7ea);
    padding-top: 30px;
    padding-bottom: 30px;
	width:100%;
	float:left;
}
.footer-part-3 a {
    font-size: 14px;
	color: #919294;
    margin: 0px 10px;
}
.footer-menu-container a:hover {
	color:#55c0da;
}
.home-banner-partners {
	width: 400px; 
	margin-left: auto; 
	text-align: center; 
	margin-right: auto; 
	padding-top: 70px;
}
/* change for mobile */
.no-padding-left {
	padding-left: 0px !important;
}
.showThisItem {
	display:block;
}
.hideThisItem {
	display:none;
}
/* Home page */
.slider-title {
    font-size:44px;
    font-weight:600;
    color:#fff;
    line-height:1.4em;
    font-family:'Poppins';
}

.watch-video {
    font-size:24px;
    color:#fff;
    font-weight:100;
    font-family:'Poppins';
}
.banner-icon {
    width:32%;
    float:left;
    padding-top:0;
}
.banner-text {
    width:68%;
    float:left;
    color:#fff;
    font-weight:400;
    font-family:'Poppins';
}
.banner-list {

}
.banner-heading {
    font-size:14px;
    font-weight:400;
    margin:0 0 0px;
}

.tags {
        font-size: 13px;
    background: #f2f2f2;
    padding: 1px 10px;
    color: #9a9a9a;
    margin-right: 6px;
    line-height: 1.4em;
    border-radius: 100px;
    border: 0;
	cursor:default;
    margin-bottom: 7px;
}
.divide-line {
    display:none !important;
} 
.features-image {
    padding-bottom:5px;
}
.play-video-row {
	
}
.play-button {
    vertical-align: middle;
    padding-top: 175px;
    padding-bottom: 170px;
}
.verinite_video_home {
	    padding-top: 196px;
    padding-bottom: 189px;
}
.video-div {
    width:100%;
    float:left;
    background:url('../../../uploads/2017/02/video-bg.jpg') no-repeat;
    background-size:100%;
    text-align:center;
    
}
.what-we-do {
        font-size: 24px;
    font-weight: 600;
    color: #7f898d;
    margin-bottom: 10px;
    font-family: 'Poppins'
}
.what_to_do_div {
	padding-top:35px;
}
.business {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5em;
    color: rgb(180, 186, 187);
    font-family: 'Poppins';
    margin-bottom: 12px;
}
.business-para {
    font-size: 14px;
    color: rgba(102, 102, 102, 0.71);
    margin-bottom: 15px;
    line-height: 1.7em;
    font-family: 'Lato';
}
.list-div {
	width:33.3%;
	float:left;
}
.home-watch-video-div {
	display:none;
}
.verinite-block {
	padding-top:150px;
}
.verinite-block-text {
	text-align: center; 
	color: white; 
	font-size: 30px; 
	font-weight: 400; 
	font-family: 'Poppins';
}
.custom-list-style{
  margin-bottom:0.5em;
  text-indent:0em;
  font-size:16px;
  font-weight:500;padding-left:5px;
    list-style-image:url(../../../uploads/2017/03/Circle_58183c997dff4cd7cf4ef63503cc6989.png);
}
.inner-list {
    margin-bottom: 0 !important;
    padding-left:15px;
}
.button-row {
    width:100%;
    float:left;
}
.watch-video-responsive{
	font-size:24px;
    color: rgb(180, 186, 187);
    font-weight:100;
    font-family:'Poppins';
}
.custom-heading {
    font-size :30px;
    font-weight:600;
    text-align:center;
    font-family:'Poppins';
}

            .read-more {
                color:#55c0da;
            }
.verinite-services-row-first {
	padding-top:20px;
	padding-bottom:35px;
}
.verinite-services-row-two {
	padding-top:35px;
	padding-bottom:30px;
}
.services-1 .fa-glass:before{
        content: url(../../../uploads/2017/03/hand.png);
    padding-top: 15px;
}
.services-1 .service-box-style-3-icon {
    padding-top:10px;
}
.services-1 .service-box-style-3-text .heading {
    margin-bottom:0px;
}
.services-2 .fa-glass:before{
        content: url(../../../uploads/2017/03/mobile_9c9ca1016a2dd26f58c2b7c4c41bd860.png);
    padding-top: 15px;
    http://codewave.co.in/
}
.services-2 .service-box-style-3-icon {
    padding-top:10px;
}
.services-2 .service-box-style-3-text .heading {
    margin-bottom:0px;
}
.services-3 .fa-glass:before{
        content: url(../../../uploads/2017/03/laptop_1a9479dfd7060f2777a846d79877086d.png);
    padding-top: 15px;
}
.services-3 .service-box-style-3-icon {
    padding-top:10px;
}
.services-3 .service-box-style-3-text .heading {
    margin-bottom:0px;
}
.services-4 .fa-glass:before{
        content: url(../../../uploads/2017/03/shield_080e9c6cd08c8d12ea3ea0bc8cb4e8c7.png);
    padding-top: 15px;
}
.services-4 .service-box-style-3-icon {
    padding-top:10px;
}
.services-4 .service-box-style-3-text .heading {
    margin-bottom:0px;
}
.services-5 .fa-glass:before{
        content: url(../../../uploads/2017/03/testing-1.png);
    padding-top: 15px;
}
.services-5 .service-box-style-3-icon {
    padding-top:10px;
}
.services-5 .service-box-style-3-text .heading {
    margin-bottom:0px;
}
.services-6 .fa-glass:before{
        content: url(../../../uploads/2017/03/support_b41e49ab3f3f2270ff217fb4e8bce05b.png);
    padding-top: 15px;
}
.services-6 .service-box-style-3-icon {
    padding-top:10px;
}
.services-6 .service-box-style-3-text .heading {
    margin-bottom:0px;
}
.graph-image img{
    width:100%;
}
.service-text-heading {
    font-weight:600;
    font-size: 18px;
    margin-bottom: 8px !important;
    font-family:'Poppins';
}
.service-text-sub-heading {
                color: #afb6bc;
            }
.verinite-features-heading {
	font-size: 20px; 
	color: rgba(102, 102, 102, 0.71); 
	font-weight: 400; 
	margin-bottom: 10px;
}	
.verinite-features-subheading {
	line-height: 2em;
	color: rgba(102, 102, 102, 0.71); 
	font-size: 14px;
}
.tags-break {
	display: none;
}	
.member-designation-text {
	 font-size: 20px;
    font-weight: 600;
	margin-bottom: 10px;
}	
.member-description {
	
}
.verinite-container .agni_column_container{
    padding-left:0px!important;
    padding-right:0px!important;
}
.verinite-container .container-fluid{
    padding-left:0px!important;
    padding-right:0px!important;
}
/* Home Page End */


/* Visual id Page */

@media only screen and (min-width:991px){
	.right-text-padding {
	padding-right:60px !important;
}
.left-text-padding {
	padding-left:60px !important;
}
.visual-small {
	padding-top:80px;
}
.visual-perfect {
	padding-top:120px;
}
.visual-arrow {
	padding-top:120px;
}
.visual-our-logo {
	padding-top:120px;
}
.visual-significance {
	padding-top:45px;
}
}


/* Visual id Page End */

/* Association and Affiliation Page */
.assoc-banner-title {
    font-family :'Poppins';
    font-size: 28px;
    font-weight:400;
	color: #fff;
	margin-bottom:30px;
}
.assoc-banner-icon {
    width:24%;
    float:left;
    padding-top:0;
}
.assoc-banner-text {
    width:76%;
    float:left;
    color:#fff;
    font-family:'Poppins';
}
.assoc-banner-list {

}
.assoc-banner-heading {
    font-size:15px;
    font-weight:500;
    margin:0 0 0px;
}
.assoc_post_heading {
	margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins
}
.contact_partnerships {
	text-align:center;
	font-size:32px;
	font-family:'Poppins';
	padding-bottom:10px;
	color:#6A6A6A;
	font-weight:600;
	margin-bottom:0px;
}
.partnership_sub_heading {
	text-align:center;
	font-size:18px;
	color:#333;
}
.assoc_contact_form {
	padding-top:60px;
	padding-bottom:60px;
 }
.partnerform-font {
	padding-bottom: 5px !important;
	resize:none;
	outline: none;
}
.partnership_submit {
	padding-left: 30px!important;
    padding-right: 30px!important;
    border: 1px solid #55c0da!important;
    color: #55c0da!important;
    font-size: 22px!important;
    font-weight: 100;
    border-radius: 2px!important;
}
.partnership_submit:hover {
	background:#55c0da !important;
	color: #fff !important;
}
.assoc_tab_main {
	padding-top:50px;
	padding-bottom:50px;
}
.partnership-tab-ul {
	text-align:right;
}
.partnership_category {
	font-size:16px;
	font-weight:400;
	font-family:'Poppins';
	border-bottom: none !important;
}
li.active a {
	color:#55c0da;
}
.partnership_category:hover {
	border: 0px solid transparent;
    border-bottom: none !important;
    color: #55c0da;
}
/* Association and Affiliation Page End */

/* Case studies & Brochures Page */

.pdf_title_section {
		width:100%;
		float:left;
		padding-top:15px;
}
.pdf_title {
	float: left;
    font-family: "Poppins";
    font-size: 13px;
    color: #666;
    font-weight: 500;
    padding-top: 6px;

}
.case_studies_button {
	padding-bottom: 10px !important;
	cursor:pointer
}
.case-studies-filter .active {
	    padding-bottom: 10px !important;
}
.case-studies-full {
	margin-bottom:20px !important;
}
.verinite_association {
	padding-bottom: 20px;
	padding-top:20px;
}
.casestudies_brochures_title {
	font-size:30px;
	font-family:'Poppins';
	font-weight:600;
	text-align:center;
	color:#55c0da;
}
/* Case studies & Brochures Page End */

/* Vision and Values Page */
.vandv_banner {
	padding-top:70px;
	padding-bottom:50px;
}
.vandv_banner_title {
	text-align:center;
	color:rgba(255,255,255,0.7);
	font-family:'Poppins';
	font-size:36px;
	font-weight:400;
}
.vandv_banner_buttons {
	width:100%;
	float:left;
	text-align:center;
}
.vandv_button {
	padding: 5px 15px;
    background-color: #fff;
    color: #000;
    font-weight: 900;
    margin-right: 3px;
    margin-left: 3px;
    font-family: 'Poppins';
    margin-bottom: 5px;
    font-size: 20px;
	cursor:default;
}
.vandv_blockquote {
	border-left: 5px solid #55c0da;
    font-size: 26px;
    padding: 0px 15px 0px 20px;
    font-family: 'Poppins';
    font-weight: 400;
}
.vandv_blockquote_main {
	padding-top:80px;
	padding-bottom:60px;
}
.vandv_tree_image img {
	width:100%;
}
.vandv_mission_title {
	font-size:32px;
	font-family:'Poppins';
	font-weight:400;
	margin-bottom: 5px;
}
.vandv_mission_para {
	font-size:22px;
	font-family:'Poppins';
	font-weight:400;
}
.vandv_mission_text {
	padding-top:60px;
	padding-bottom:20px;
}
.vandv_mission_textblock {
	padding-left:60px;
}
.vandv_mission_main {
	padding-top:50px;
	padding-bottom: 60px;
}
.vandv_vision_text {
	font-family:'Poppins';
	font-size:19px;
	text-align:center;
}
.vandv_stakeholders {
	text-align:center !important;
	padding-top:15px;
}
.vandv_vision_div {
	padding-top: 60px;
    padding-bottom: 60px;
}
.vandv_stakeholders .heading {
	margin-top:10px;
	margin-bottom: 5px;
}
.people .fa-envelope-o:before {
	content:url('../../../uploads/2017/03/4-4.png');
}
.clients .fa-envelope-o:before {
	content:url('../../../uploads/2017/03/3-1-1.png');
}
.shareholders .fa-envelope-o:before {
	content:url('../../../uploads/2017/03/2-2-1.png');
}
.society .fa-envelope-o:before {
	content:url('../../../uploads/2017/03/Society.png');
}

/* Vision and Values Page End */

/* Side bar */
.sidebar-subscribe-title
{
    font-size: 18px;
    color: #000;
}
.sidebar-email-field {
	    padding: 10px 15px !important;
    border: 1px solid #d5d5d5 !important;
    margin-bottom: 20px !important;
}

/* Side bar ends */

/* Blog */
.blog-page-title {
	text-align:center;
	color: #333;
	font-size:26px;
	font-family: Poppins;
    font-weight: 500;
}

/* Blog Ends*/

/* Privacy */
.privacy-answer {
	font-size:15px;
	font-family:'Lato';
	color:#8b8b8b;
	font-weight:400;
	margin-bottom:10px;
}
.privacy-question {
	margin-bottom:0px;
	color: #666;
	font-family:'Poppins';
	font-size:20px;
	font-weight:600;
}
.verinite-terms {
	font-size:15px;
	font-family:'Lato';
	color:#8b8b8b;
	font-weight:400;
	margin-bottom:10px;
}
.verinite-page-title {
	color: #55c0da;
	font-family:'Poppins';
	font-size:36px;
	font-weight:600;
	text-align:center;
}
/* Privacy Ends*/
.services-6{
    display: none;
}
.leader_read_more:hover, .leader_read_more:focus{

      border:1px solid #55c0da !important;
  
}

.provident-innerpop{
    width: 100%;
    padding-bottom: 20px;
    float: left;
}
.provinline{
  font-size:14px;
}
#provcontactform{
      width: 55%;
    background-color: #33C668!important;
    font-size: 16px;
}
.provsubmitnew{
  width:35%;
  float:left;
}
.provchecked{
  width:65%;
  float:left;
}
.dwldbtnprovident{
      background-color: #33C668;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    cursor:pointer;
}
.pdfprovidentdwd{
  padding-top: 10px;
      width: 50%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.provheadingpdf{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
}
.provpnew{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

#provnewselect{
      background-color: #fff;
    color: #999;
    border: 1px solid#f1f1f1!important;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0)!Important;
}

#provnewemail{
    background-color: #fff;
    color: #ccc;
    border: 1px solid#f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.00) inset;
}
#provnewphone{
      background-color: #fff;
    color: #ccc;
    border: 1px solid#f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.00) inset;
}
#provnewfullname{
    background-color: #fff;
    color: #ccc;
    border: 1px solid#f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.00) inset;
}
.input-provnew{
padding:10px;
  float: left;
  width: 33%;
}
.main-content-provident{
  width:100%;
  float:left;
}
.contentprovmain{
  width:100%;
  float:left;
}
.verinite-col-9{
  width:66%;
  float:left;
}
.verinite-col-3{
  width:33%;
  float:left;
}
  .black_overlay{
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:99999;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content{
    display: block;
    position: fixed;
    top:0%;
    
    width: 80%;
    height:auto;
    padding: 25px;
    background-color: white;
    z-index:999999;
    overflow: auto;
}
.provpopclose{
float:right;
cursor:pointer;
}

.member_name{
    margin-top: -12px;
}
.team_member_div{
    margin-bottom: 35px;
}
.member_popup{
    margin-bottom: 0px!important;
}
.close-btn-team{
    width: 3%; float: right; cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
 .member_name{
        margin-top: 15px;
        font-size: 28px;
        text-align: center;
    }
    .white_content{
        width:90%;
    }
    .contentprovmain .vc_col-sm-4{
        text-align: center;
    }
    .contentprovmain{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .close-btn-team{
        width: 10%; float: right; cursor: pointer;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .member-caption-content{
        padding: 10px!important;
        border:none;
    }
    .member-meta{
        border:none !important;
    }
}