@font-face {
font-family: Poppins;
font-weight:  400;
src: url("../css/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
font-family: Poppins;
font-weight: bold;
src: url("../css/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
font-family: Poppins;
font-weight:  100;
src: url("../css/fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
font-family: Poppins;
font-weight: 500;
src: url("../css/fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
font-family: Poppins;
font-weight:  700;
src: url("../css/fonts/Poppins-SemiBold.ttf") format("truetype");
}