#header{
   margin: 0 auto;
}



/*.header-icon img {
    padding-top: 8px !important;
    padding-left: 29px !important;
    padding-bottom: 0% !important;
}*/
/* Latest additions */

.ubermenu .ubermenu-tab-layout-left>.ubermenu-tabs-group {
	    background: #f9f9f9;
}
.custom-subitem-text span {
	font-size: 14px;
	font-weight:600!important;
}
.ubermenu-header-sub-tabs {
	border-bottom:1px solid #f1f1f1 !important;
}
.custom-subitem-text {
	padding-bottom:10px !important;
}
.ubermenu-header-custom span{
	font-size:13px;
}
.header-submenu-button {
	padding: 10px 14px;
    border-radius: 3px;
    color: #fff;
    background: #55c0da;
    border: 1px solid transparent;
}

.header-submenu-button:hover {
	background:#fff;
	color:#55c0da;
	border:1px solid #55c0da;
}
.header-submenu-custom-text {
	color: #666666;
	text-align: left;
	font-size: 12px;
	padding: 0px 20px 10px 20px;
	margin-bottom:5px;
	line-height: 1.5em;
}
.header-submenu-only-text {
	color: #666666;
	text-align: left;
	font-size: 14px;
	padding: 0px 50px 10px 20px;
	margin-bottom:5px;
	line-height: 1.5em;
}
.header-submenu-separator {
	border-right: 1px solid #666;
	font-size: 10px;
}
/* Latest additions ends */
.ubermenu-skin-white 
{
        border-top: 0px solid #fff !important; 
}

.ubermenu-nav li:nth-child(7n) {
   border: 2px solid #ddd;
    border-style: ridge;
    padding: 0px 15px;
    border-radius:5px;
}
.ubermenu-nav li:nth-child(7n) {
   border: 2px solid #ddd;
    border-style: ridge;
    padding: 0px 15px;
    border-radius:5px;
}

.ubermenu 
{
margin-top:25px;
} 
.ubermenu-tabs .menu-item-4292 .ubermenu-item-level-1 .ubermenu-column 
{
background-color:#eee !important;
} 
 .ubermenu-skin-white
 {
    border-bottom: 0px solid #fff !important; 
 }

/* .ubermenu-tab li:nth-child(6n)
 {
          border: 0px solid #fff; 
    
 }*/
  .ubermenu-nav .ubermenu-item-4298:nth-child(7n)
 {
     border: 0px solid #fff;
     border-style: ridge;
    padding: 0px 0px;
    border-radius:0px;
 }
 .cta {
    background: linear-gradient(to right, #4ab9d4 , #65a7ea);
	padding-top: 30px;
    padding-bottom: 30px;
	width:100%;
	float:left;
 }
 
 .cta .call-to-action-heading {
     color:#fff;
    margin-left: 60px;
    font-size: 30px;
    font-family: 'Poppins';

 }

 .cta .call-to-action-additonal {
     color: #fff;
    font-size: 25px;
    width: 77%;
    margin-left: 60px;
 }

 .cta .call-to-action-button
 {
     margin-top: 50px;
    margin-right: 80px;
 }
 .filter-button{
     display: none;
 }
 
 .cta .call-to-action-button{
     border: 1px solid white;
    background-color: transparent !important;
    color: white !important;
	    padding-left: 50px;
    padding-right: 50px;
	padding-top:15px;
	padding-bottom:15px;
	font-size:19px;
	
 }
 .cta .call-to-action-button:hover{
     border: 1px solid white;
    background-color: White !important;
    color: #55c0da !important;
 }
 

@media only screen and (min-width: 320px) and (max-width: 480px){
   .footer-part-3 a {
	   font-size: 13px;
   }
   .mobile_list {
	   margin-bottom:15px!important;
	   display: list-item !important;
   }
   .case-studies-full {
	text-align:center !important;
}
	.partner-mobile-banner-responsive {
		padding-left:0px !important;
		padding-top: 10px;
	}
	.partnership-tab-ul {
		display:grid;
		text-align:center;
	}
}


@media only screen and (min-width: 481px) and (max-width: 600px){
	.mobile_list {
	   margin-bottom:15px!important;
   }
   .case-studies-full {
	text-align:left !important;
}
.case_studies_button {
	font-size:13px;
	padding:3px 3px 10px 3px;
}
.custom_width_portfolio {
	width:50% !important;
	float:left !important;
}
.first-filter {
	padding-right:0px;
}
.pdf_title {
	font-size: 12px;
	padding-top: 2px;
}  
.pdf_icon {
	width:21px;
}
.partner-mobile-banner-responsive {
		padding-left:0px !important;
		padding-top: 10px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 768px){
    .hide-break {
	  display:none;
  }
    .verinite-block-text {
		font-size: 24px;
	}
	.footer-part-1 {
	text-align:center !important;
	padding-bottom:20px;
}
.footer-part-2 {
	text-align:center !important;
	padding-bottom:20px;
}
.footer-part-3 {
	text-align:center !important;
}
.ubermenu .ubermenu-target-text {
	font-size: 12px !important;
}
.ubermenu .ubermenu-target {
	padding: 15px 15px;
}
.ubermenu-skin-white.ubermenu-responsive-toggle {
	padding-top: 20px !important;
    padding-right: 25px !important;
}
/* case studies */
.case-studies-full {
	text-align:left !important;
}
.last-filter {
	padding-left:0px !important;
	padding-right:0px !important;
}
.first-filter {
	padding-left:0px !important;
}
.case_studies_button {
	font-size:13px;
	padding:3px 3px 10px 3px;
}
.custom_width_portfolio {
	width:50% !important;
	float:left !important;
}
.first-filter {
	padding-right:0px;
}
.pdf_title {
	font-size: 12px;
	padding-top: 2px;
}  
.pdf_icon {
	width:21px;
}
.partner-mobile-banner-responsive {
		padding-left:0px !important;
		padding-top: 10px;
	}
}
@media only screen and (min-width: 768px) {
	.last-filter {
	padding-right:0px !important;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .hide-break {
	  display:none;
	}
	.verinite-features-heading {
	font-size: 16px;
	text-align:center;
	}
	.verinite-features-subheading {
		text-align:center;
	}
	.features-image {
		text-align:center !important;
	}
	.tags-break {
		display:block;
	}
	.tags {
		margin-left:0px;
	}
	.verinite-block-text {
		font-size: 24px;
	}
	.footer-part-1 {
	text-align:center !important;
	padding-bottom:20px;
}
.footer-part-2 {
	text-align:center !important;
	padding-bottom:20px;
}
.footer-part-3 {
	text-align:center !important;
}
.ubermenu-header-custom span {
	font-size: 12px !important;
}	
.vandv_mission_textblock {
	padding-left:0px;
}
.vandv_mission_text {
	padding-top:0px;
}
.ubermenu-header-custom {
	padding: 15px 15px !important;
}
.header-icon {
	padding: 25px 0 15px 15px !important;
} 
.ubermenu-header-custom:after {
	right: 0px !important;
}
.ubermenu-header-sub-tabs:after {
	right:10px !important;
}
.ubermenu-skin-white.ubermenu-responsive-toggle {
	padding-top: 40px !important;
    padding-right: 25px !important;
}
.ubermenu-submenu-type-mega {
		width:100% !important;
		margin-left:0px !important;
	}
	.assoc-banner-icon {
		    width: 26%;
	}
	.assoc-banner-text {
		    width: 74%;
	}
}

@media only screen and (min-width: 601px) and (max-width: 1024px){
    .home-video-div {
		display:none;
	}
	.home-watch-video-div {
		display:block;
	}
	.about-button-column {
		width: 60%;
		float:left;
	}
	.home-watch-video-div  {
		width: 40%;
		float:left;
	}
	.responsive-what-to-do {
		width:100% !important;
		float:left !important;
	}
	.responsive-watch-video {
		    margin-top: 60px;
    margin-bottom: 0px !important;
	}
	.video-text-responsive {
			font-size:20px;
    color: rgb(180, 186, 187);
    font-weight:100;
    font-family:'Poppins';
	}
	 .cta .call-to-action-button{
	padding: 10px 25px !important;
 }	
}

@media only screen and (min-width: 1024px) and (max-width: 1280px){
	.about-us .btn {
		margin-top:28px;
	}
	.what_to_do_div {
	padding-top:25px;
	}
	.what-we-do {
		font-size: 23px;
	}
	.business {
		font-size: 21px;
	}
	.about-us .btn {
		margin-top:15px !important;
	}
	.verinite_video_home {
	padding-bottom: 158px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 600px){
	.home-banner-partners {
	width: auto; 
}
	.our-culture .btn{
		font-size: 15px !important;
		}
  .hide-break {
	  display:none;
  }
  /* Home page */
  .slider-title {
	  font-size:26px;
  }
  .banner-button {
		width:100%;
		float:left;
	}
	.banner-icon {
	   width:20%;
   }
   .banner-text {
	   width:80%;
   }
   .first {
	   padding-bottom: 20px;
   }
   .responsive-what-to-do {
		width:100%;
		float:left;
	}
   .verinite-services-row-first {
	padding-bottom:0px;
	}
	.verinite-services-row-two {
	padding-top:0px;
	}
	.services-1 {
		padding-bottom:20px;
	}
	.services-2 {
		padding-bottom:20px;
	}
	.services-3 {
		padding-bottom:20px;
	}
	.services-4 {
		padding-bottom:20px;
	}
	.services-5 {
		padding-bottom:20px;
	}
	.verinite-features-heading {
	    font-size: 18px;
    padding-bottom: 10px;
	text-align:center;
	}
	.verinite-features-subheading {
		text-align:center;
	}
	.features-image {
		text-align:center !important;
	}
	.cta {
		text-align: center;
    padding-left: 15px;
    padding-right: 15px;
	}
	.cta .call-to-action-heading {
		margin-left:0px;
		font-size
	}
	.cta .call-to-action-button{
		margin-bottom: 15px;
		}
	.cta .call-to-action-heading {
		font-size: 28px; 
		}
		.cta .call-to-action-additional {
		font-size: 23px; 
		}
	.cta .call-to-action-additonal {
		width: auto;
		margin-left: 0px; 
	}
	 .features {
	 padding-bottom:20px;
 }
 .list-div {
	width:100%;
	float:left;
}
.inner-list {
    margin-bottom: 0.5em !important;
}
.about-us {
	padding-bottom:20px;
}
.cta .call-to-action-button {
	margin-right:0px;
	margin-top:10px !important;
}
.verinite-block {
	padding-top:190px;
}
.verinite-block-text {
	font-size: 22px;
}
.footer-part-1 {
	text-align:center !important;
	padding-bottom:20px;
}
.footer-part-2 {
	text-align:center !important;
	padding-bottom:20px;
}
.footer-part-3 {
	text-align:center !important;
} 
.verinite-responsive-video {
	background-size:cover;
	background-repeat: no-repeat;
}  
.verinite_video_home {
	    padding-top: 26%;
    padding-bottom: 26%;
}
}
@media only screen and (min-width: 991px) {
	.first {
    padding-left:0 !important;
    padding-right:0 !important;
    margin-right:25px;
}
.footer-part-3 {
	    padding-top: 7px;
}

}
@media only screen and (min-width: 1200px) {
	.assoc-right-text {
		padding-left: 45px !important;
		padding-top: 40px;
	}
	.assoc-left-text {
		padding-right: 45px !important;
		padding-top: 40px;
	}
}
@media only screen and (min-width: 991px) and (max-width: 1024px) {
	.responsive-watch-video {
		margin-top: 25px;
		margin-left: -75px;
	}
	.ubermenu-header-custom {
	padding: 15px 15px !important;
}
.header-icon {
	padding: 25px 0 15px 15px !important;
} 
.ubermenu-header-custom:after {
	right: 0px !important;
}
.ubermenu-header-sub-tabs:after {
	right:10px !important;
}
.ubermenu-header-custom span {
	font-size: 12px !important;
}
}
@media only screen and (min-width: 1024px) {
	.partner-left {
		padding-right:60px !important;
		padding-left:0px !important;
	}
	.partner-right {
		padding-left:60px !important;
		padding-right:0px !important;
	}
	.partners-full {
		padding-left:0px !important;
		padding-right:0px !important;
	}
}

@media only screen and (min-width: 1400px) {
	.play_image {
		height:491px;
	}
}
@media only screen and (min-width: 768px) {
	.last-filter-list {
		padding-right:0px !important;
	}
	.line_image img{
		width:77%;
	}
}
@media only screen and (max-width: 768px) {
	.ubermenu-submenu-type-mega {
		width:100% !important;
		margin-left:0px !important;
	}
	.ubermenu-tab-content-panel {
		overflow-y:scroll !important;
		height:190px !important;
	}
}
.blog-icon img:hover {
	content: url('http://codewave.co.in/Verinite/wp-content/uploads/2017/02/blog2-blue.png');
}