.product_banner{
	padding-top: 60px;
    padding-bottom: 60px;
}
.product_banner_list_1{
		width: 27% !important;
	}
.product_banner_right_image{
	padding-top: 30px;
}
.product_banner_left_logo{
	width:17%;
}
.product_banner_left_heading{
	text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    font-family: poppins;

}
.product_request_a_demo{
	    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 13%;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: fixed;
    right: -5%;
    top: 44%;
    border-radius: 2px;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    box-shadow: -1px -1px 30px 0px #5f5f5f;
    text-align: center;
    z-index: 1000;
  }
  .product_request_a_demo a {
  	color:#ffffff!important;
  }
  .req_demo{
  	margin-bottom: 0px !important;
  }
.product_banner_left_heading_mb{
	margin-bottom: 0px!important;
}
.product_banner_list_icon{
	float: left;
}
.product_banner_list{
	font-weight: 600;
	font-size: 16px;
	float: left;
	margin-top: -3px;
    margin-left: 10px;
    line-height: 20px;
}
.product_why_kollexor{
	padding-top:60px;
	padding-bottom	:60px;
}
.why_kolle_description{
	text-align: center;
	color:#828282;
}
.product_services_1{
	padding-top: 20px;
    padding-bottom: 20px;
}
.product_services_2{
	padding-top: 20px;
    padding-bottom: 20px;
}
.product_services_3{
	padding-top: 20px;
    padding-bottom: 20px;
}
.product_services_4{
	padding-top: 20px;
    padding-bottom: 20px;
}
.product_services_5{
	padding-top: 20px;
    padding-bottom: 20px;
}
.product_services_6{
	padding-top: 20px;
    padding-bottom: 20px;
}

.product_services_1 h6{
	color:#555555;
	font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px !important;
    font-family: poppins;
}
.product_services_2 h6{
	color:#555555;
	font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px !important;
    font-family: poppins;
}
.product_services_3 h6{
	color:#555555;
	font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px !important;
    font-family: poppins;
}
.product_services_4 h6{
	color:#555555;
	font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px !important;
    font-family: poppins;
}
.product_services_5 h6{
	color:#555555;
	font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px !important;
    font-family: poppins;
}
.product_services_6 h6{
	color:#555555;
	font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px !important;
    font-family: poppins;
}

.product_services_icon_1 .fa-glass:before{
	content : url('../../../uploads/2017/03/1-2.png') !important;	
	padding-top:15px;
}
.product_services_icon_2 .fa-glass:before{
	content : url('../../../uploads/2017/03/2-2.png') !important;	
	padding-top:15px;
}
.product_services_icon_3 .fa-glass:before{
	content : url('../../../uploads/2017/03/3-2.png') !important;	
	padding-top:15px;
}
.product_services_icon_4 .fa-glass:before{
	content : url('../../../uploads/2017/03/4-2.png') !important;	
	padding-top:15px;
}
.product_services_icon_5 .fa-glass:before{
	content : url('../../../uploads/2017/03/5.png') !important;	
	padding-top:15px;
}
.product_services_icon_6 .fa-glass:before{
	content : url('../../../uploads/2017/03/6.png') !important;	
	padding-top:15px;
}
.product_services_icon_1 .fa-music:before{
	content : url('../../../uploads/2017/03/1-6.png') !important;	
	padding-top:15px;
}
.product_services_icon_2 .fa-music:before{
	content : url('../../../uploads/2017/03/2-6.png') !important;	
	padding-top:15px;
}
.product_services_icon_3 .fa-music:before{
	content : url('../../../uploads/2017/03/3-6.png') !important;	
	padding-top:15px;
}
.product_goselfie_progress{
	padding-bottom: 60px;
}
.product_tab_image{
	width:50%;
	float: left;
}
.product_tab_image img{

}
.product_tab_solution{
	margin-top: 60px;
	color:#999999;
}
.product_tab_text_content{
	margin-top: 70px;
}
.prodcut_tab_content{
	width:50%;
	float: left;
	text-align: left;
}
.product_tab_content_heading_1{
	font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family:poppins;
}
.product_tab_content_heading_2{
	font-size: 20px;
    margin-bottom: 10px;
    font-family:poppins;
}
.product_tab_content_description{
    line-height: 26px;
    color:#999999;
}
.product_tab_custom_list{
	margin-bottom: 0.5em;
 color:#999999;   
    font-size: 13px;
    font-weight: 500;

    list-style-image: url(../../../uploads/2017/03/logo-mark.jpg);
}
.product_tab_list_div{
	float: left;
	width:50%;
	margin-top: 10px

}
.product_tab_list_div ul{
	padding: 20px;
	padding-right: 0px;
}
.product_tabs ul li.active a {
	border-bottom:1px solid #5abede !important;
	margin-bottom: 9px;
}
.product_tabs ul li a {
	font-size: 26px;
}
.product_modules_heading{
	font-size: 30px;
	font-weight: 600;
	font-family: poppins;
	color:#63666d;
}
.product_modules{
	padding-top:60px;
	padding-bottom:60px;
}
.product_module_1{
	padding: 20px;
}
.product_module_1 img{
	width:50%;
}
.product_art_and_tech{
	padding-top: 40px;
	padding-bottom: 40px;
}
.product_art_and_tech_heading{
	font-size: 30px;
	font-weight: 600;
	font-family: poppins;
	text-align: center;
	color:#63666d;
}
.product_art_and_tech_image{
	padding: 40px;
}
.product_art_and_tech_content_heading{
	font-size: 24px;
    margin-bottom: 10px;
    color:#363636;
    font-family: poppins;

}
.product_art_and_tech_image .agni-image{
	text-align: right;
    padding-right: 10%;
    padding-top: 2%;
}
.product_module_row2{
	margin-top: 35px;
}
.product_art_and_tech_content_2{
	padding-left: 22% !important;
}
.product_goselfie_art_and_tech_image_2{
	padding-top: 0px;
	padding-bottom: 40px;
}
.goselfie_li ul li {
	list-style: none;
}
.product_art_and_tech_image_2 .agni-image{
	text-align: center;
    padding-right: 10%;
    padding-top: 2%;
}
.product_art_and_tech_image_2{
	padding: 40px;
}
.product_art_and_tech_2{
	margin-bottom: 60px;
}
.product_why_first_row{

}
.product_why_second_row{

}
.verinite_call_to_action_section{
	background: linear-gradient(to right, #4ab9d4 , #65a7ea);
    padding-top: 30px;
    padding-bottom: 30px;
}

/*goselfie*/
.product_goselfie_heading{
	color: #55c0da;
    font-size: 38px;
    font-family: poppins;
    font-weight: 600;
}


@media  screen and (min-width : 768px) and (max-width : 990px){
	.product_banner_right_image{
		//display: none;
	}
	.product_banner_left_logo{
		width:22%;
	}
	.product_banner_left_heading {
	   	font-size: 26px;
	   	font-weight:700;
	}
	.product_banner{
		padding-left:10px;
		padding-top: 40px;
    	padding-bottom: 40px;
	}
	.product_banner_list_1{
		width: 30% !important;
	}
	.product_banner_list_2{
		width: 30% !important;	
	}
	.product_banner_list_3{
		width: 40% !important;
	}
	.product_banner_list{
		font-size: 13px;
	}
	.product_why_kollexor{
		padding-bottom: 40px;
		padding-top:40px; 
	}
	.product_tabs_section{
		padding-top: 40px!important;
		padding-bottom: 40px!important;
	}
	.product_tab_image{
		display: none;
	}
	.prodcut_tab_content{
		width:100%;
	}
	.product_tab_text_content{
		margin-top:10px;
	}
	.product_tab_content_heading_1{
		font-size: 28px;
	}
	.product_modules{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.product_art_and_tech_image{
		padding-top: 0px;
	}
	.product_art_and_tech_content{
		padding-left:12% !important;
	}
	.product_art_and_tech_image .agni-image{
		text-align: center;
		padding-right: 0px!important;
		padding-top: 20%;
    	
	}
	.product_art_and_tech_image_2 .agni-image{
		text-align: center;
		padding-right: 0px!important;
		padding-top: 20%;
	}
	.product_art_and_tech{
		padding-bottom: 10px;
	}
	.product_art_and_tech_content_2 {
    	padding-left: 12% !important;
	}
	.product_tab_custom_list{
		font-size: 14px;
	}
	.product_art_and_tech_image_2{
		padding-top: 0px !important;
    	padding-bottom: 0px !important;
	}
	.product_art_and_tech_2{
		margin-bottom: 40px;
	}
	.product_services_1 h6{
		font-size: 18px;
	}
	.product_services_2 h6{
		font-size: 18px;
	}
	.product_services_3 h6{
		font-size: 18px;
	}
	.product_services_4 h6{
		font-size: 18px;
	}
	.product_services_5 h6{
		font-size: 18px;
	}
	.product_services_6 h6{
		font-size: 18px;
	}
	.call-to-action-style-2 .call-to-action-description{
		text-align: center;
    	width: 100%;
	}
	.product_request_a_demo {
		    width: 22%;
			right: -8%;
	}
	.product_banner_list_icon {
    float: left;
    width: 29%;
	}
	.product_banner_list {
		    width: 62%;
	}

}
@media screen and (min-width: 601px) and (max-width: 767px){
	.product_banner_right_image{
		display: none;
	}
	.product_banner_left_logo{
		width:22%;
	}
	.product_banner_left_heading {
	   	font-size: 26px;
	   	font-weight:700;
	}
	.product_banner{
		padding-left:10px;
		padding-top: 40px;
    	padding-bottom: 40px;
	}
	.product_banner_list_2{
		clear: both;
    	margin-top: 60px;
	}
	.product_banner_list_3{
		clear: both;
    	margin-top: 60px;
	}
	.product_why_kollexor{
		padding-bottom: 40px;
		padding-top:40px; 
	}
	.product_tabs_section{
		padding-top: 40px!important;
		padding-bottom: 40px!important;
	}
	.product_tab_image{
		display: none;
	}
	.prodcut_tab_content{
		width:100%;
	}
	.product_tab_text_content{
		margin-top:10px;
	}
	.product_tab_content_heading_1{
		font-size: 28px;
	}
	.product_modules{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.product_art_and_tech_image{
		padding-top: 0px;
	}
	.product_art_and_tech_content{
		padding-left:12% !important;
	}
	.product_art_and_tech_image .agni-image{
		text-align: center;
		padding-right: 0px!important;
    	
	}
	.product_art_and_tech_image_2 .agni-image{
		text-align: center;
		padding-right: 0px!important;
	}
	.product_art_and_tech{
		padding-bottom: 10px;
	}
	.product_art_and_tech_content_2 {
    	padding-left: 12% !important;
	}
	.product_tab_custom_list{
		font-size: 14px;
	}
	.product_art_and_tech_image_2{
		padding-top: 0px !important;
    	padding-bottom: 0px !important;
	}
	.product_art_and_tech_2{
		margin-bottom: 40px;
	}
	.product_request_a_demo {
		    width: 28%;
			right: -11%;
	}
	
}
@media screen and (min-width: 481px) and (max-width: 600px){
	.product_banner_right_image{
		display: none;
	}
	.product_banner_left_logo{
		width:30%;
	}
	.product_banner_left_heading {
	   	font-size: 24px;
	   	font-weight:600;
	}
	.product_banner{
		padding-left:10px;
		padding-top: 40px;
    	padding-bottom: 40px;
	}
	.product_banner_list_2{
		clear: both;
    	margin-top: 60px;
	}
	.product_banner_list_3{
		clear: both;
    	margin-top: 60px;
	}
	.product_why_kollexor{
		padding-bottom: 40px;
		padding-top:40px; 
	}
	.product_tabs_section{
		padding-top: 40px!important;
		padding-bottom: 40px!important;
	}
	.product_tab_image{
		display: none;
	}
	.prodcut_tab_content{
		width:100%;
	}
	.product_tab_text_content{
		margin-top:10px;
	}
	.product_tab_content_heading_1{
		font-size: 28px;
	}
	.product_modules{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.product_art_and_tech_image{
		padding-top: 0px;
	}
	.product_art_and_tech_content{
		padding-left:12% !important;
	}
	.product_art_and_tech_image .agni-image{
		text-align: center;
		padding-right: 0px!important;
    	
	}
	.product_art_and_tech_image_2 .agni-image{
		text-align: center;
		padding-right: 0px!important;
	}
	.product_art_and_tech{
		padding-bottom: 10px;
	}
	.product_art_and_tech_content_2 {
    	padding-left: 12% !important;
	}
	.product_tab_custom_list{
		font-size: 14px;
	}
	.product_art_and_tech_image_2{
		padding-top: 0px !important;
    	padding-bottom: 0px !important;
	}
	.product_art_and_tech_2{
		margin-bottom: 40px;
	}
	.product_request_a_demo {
		    width: 37%;
			right: -17%;
	}
	
}
@media screen and (max-width: 480px){
	.product_banner_right_image{
		display: none;
	}
	.product_banner_left_logo{
		width:30%;
	}
	.product_banner_left_heading {
	   	font-size: 24px;
	   	font-weight:600;
	}
	.product_banner{
		padding-left:10px;
		padding-top: 40px;
    	padding-bottom: 40px;
	}
	.product_banner_list_2{
		float: left;
		width:100%;
	}
	.product_banner_list_3{
		float: left;
		width:100%;
	}
	.product_why_kollexor{
		padding-bottom: 40px;
		padding-top:40px; 
	}
	.product_tabs_section{
		padding-top: 40px!important;
		padding-bottom: 40px!important;
	}
	.product_tab_image{
		display: none;
	}
	.prodcut_tab_content{
		width:100%;
	}
	.product_tab_text_content{
		margin-top:10px;
	}
	.product_tab_content_heading_1{
		font-size: 28px;
	}
	.product_modules{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.product_art_and_tech_image{
		padding-top: 0px;
	}
	.product_art_and_tech_content{
		padding-left:12% !important;
	}
	.product_art_and_tech_image .agni-image{
		text-align: center;
		padding-right: 0px!important;
    	
	}
	.product_art_and_tech_image_2 .agni-image{
		text-align: center;
		padding-right: 0px!important;
	}
	.product_art_and_tech{
		padding-bottom: 10px;
	}
	.product_art_and_tech_content_2 {
    	padding-left: 12% !important;
	}
	.product_tab_custom_list{
		font-size: 14px;
	}
	.product_art_and_tech_image_2{
		padding-top: 0px !important;
    	padding-bottom: 0px !important;
	}
	.product_art_and_tech_2{
		margin-bottom: 40px;
	}
	.product_request_a_demo {
		    width: 47%;
			right: -19%;
	}
	.product_banner_list_1 {
		width:100% !important;
		float:left;
	}

}
@media screen and (min-width: 991px) and (max-width: 1024px){
	
}
@media only screen and (min-width: 1300px) and (max-width: 1500px){
    
}
@media screen and (min-width: 991px) and (max-width: 1199px){
	.product_banner_right_image{
		//display: none;
	}
	
	
	.product_banner_list_1{
		width: 30% !important;
	}
	.product_banner_list_2{
		width: 30% !important;	
	}
	.product_banner_list_3{
		width: 40% !important;
	}
	.product_banner_list{
		font-size: 13px;
	}
}
    
   /*<a href="/Verinite/contact_us/?type=product_kollexor"><div class="product_request_a_demo">REQUEST A DEMO</div></a>*/
