#header{
   margin: 0 auto;
}

/* Service Page starts */

.service_tags_outer{
	margin-top: 30px;
}

.service_watch_video_btn{
	color:#a6a6a6;
}

.loyality_tag a{
	background-color: #F2A000;
    padding: 7px 18px;
    border-radius: 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.card_management_tag a{
	background-color: #1EA549;
    padding: 7px 19px;
    border-radius: 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.risk_management_tag a{
    background-color: #EC0091;
    padding: 7px 19px;
    border-radius: 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-left: -5px;
}
.client img{
	opacity:1!important;
}
.loyality_tag{
    padding-left: 0px;
    float: left;padding-right: 15px;
}

.card_management_tag{
    padding-left: 0px;
    padding-right: 15px;
    float: left;
}

.risk_management_tag{
    padding-left: 0px;
    padding-right: 15px;
    float: left;
}

.service_box_row1{
			margin-bottom: 50px ;
    		padding-top: 25px;
	}
.service_tags_inner{
	margin-top: 20px;
	margin-bottom: 30px;
}

.switching_tag a{
	background-color: #3C95D7;
    color: #fff;
    padding: 7px 23px;
    border-radius: 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.fraud_system_tag a{
    background-color: #843AD9;
    padding: 7px 23px;
    border-radius: 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-left: -17px;
}

.switching_tag{
    padding-left: 0px;
    padding-right: 26px;
    float: left;
}

.fraud_system_tag{
    padding-left: 0px;
    padding-right: 15px;
    float: left;
}

.service_tags_outer{
	width: 100%;
    float: left;
    padding-left: 0px !important;
}

.service_tags_inner{
	width: 100%;
    float: left;
    padding-left: 0px !important;
}

.service_heading p{
	font-size: 22px;
    font-weight: 400;
}

.service_heading h3{
	color: #5CBDE0;
    font-size: 40px;
}

.service_heading p{
    color: rgba(0, 0, 0, 0.49);
}

.service_learn_more_btn button{
	border-color: #58BEE4;
    color: #58BEE4;
    border-radius: 3px;
    width: 20%;
    padding: 10px 0px;
}
.btn_verser_rt{
	border-color: #58BEE4;
    color: #58BEE4;
    border-radius: 3px;
    width: 20%;
    padding: 10px 0px;
}
.btn_verser_rt:hover{
	border-color: #58BEE4;
    color: #fff;
    background-color: #58BEE4;
    border-radius: 3px;
}
.service_learn_more_btn button:hover{
    border-color: #58BEE4;
    color: #fff;
    background-color: #58BEE4;
    border-radius: 3px;
}
.service_paragraph{
	font-size: 23px;
    text-align: justify;
}

.vertical_line{
	border-left: 7px solid #5ABFD3;
    font-style: normal !important;
    text-align: justify !important;
    font-family: "poppins" !important;
    font-weight: 300 !important;
	padding-top: 8px;
}

.service_paragraph p{
	padding-left: 40px;
    font-size: 22px;
    font-weight: 300;
    font-family: "poppins";
}

.service_section_heading h5{
	color: #fff;
    margin-top: 75px;
    text-align: center;
}

.card_management_img .fa-film:before{
	content:url("../../../uploads/2017/02/2-1.png") !important;
}

.program_management_img .fa-film:before{
	content:url("../../../uploads/2017/02/1-1.png") !important;
}

.system_integration_img .fa-film:before{
	content: url("../../../uploads/2017/02/3-1.png") !important;
}

.upgrade_img .fa-film:before{
	content: url("../../../uploads/2017/02/4.png") !important;
}

.application_development_img .fa-film:before{
	content:url("../../../uploads/2017/02/5.png") !important;
}

.testing_img .fa-film:before{
	content:url("../../../uploads/2017/02/6.png") !important;
}

.mobility_solution_img .fa-film:before{
	content: url("../../../uploads/2017/02/7.png") !important;
}

.security_img .fa-film:before{
	content: url("../../../uploads/2017/02/8.png") !important;
}

.port_lend_img .fa-film:before{
	content: url("../../../uploads/2017/03/lend_imgd.png") !important;  
}

.prod_impl_img .fa-film:before{
	content: url("../../../uploads/2017/03/lend_imga.png") !important;  
}

.sys_integ_img .fa-film:before{
	content: url("../../../uploads/2017/03/lend_imgc.png") !important; 
}

.pro_eng_img .fa-film:before{
	content: url("../../../uploads/2017/03/lend_imgb.png") !important; 
}

.party_busselect_img .fa-film:before{
	content: url("../../../uploads/2017/03/ret-bank_imga.png") !important; 
}

.appcus_imp_img  .fa-film:before{
	content: url("../../../uploads/2017/03/ret-bank_imgb.png") !important; 
}

.mig_ser_img   .fa-film:before{
	content: url("../../../uploads/2017/03/ret-bank_imgd.png") !important; 
}

.peroptm_img   .fa-film:before{
	content: url("../../../uploads/2017/03/ret-bank_imgc.png") !important;
}

.legacy_re_img   .fa-film:before{
	content: url("../../../uploads/2017/03/legacy-app.png") !important;  
}

.indp_assur_img   .fa-film:before{
	content: url("../../../uploads/2017/03/ret-bank_imge.png") !important;  
}

.buss_intanaly_img   .fa-film:before{
	content: url("../../../uploads/2017/03/ret-bank_imgg.png") !important; 
}


.card_management_img .service-box-style-1 i, .service-box-style-1 .service-box-text{
	font-size: 0px;
}

.custom-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    font-family: 'Poppins';
}

.service_view_btn a {
    padding: 10px 50px;
    font-size: 20px;
    color: #55c0da !important;
    border-color: #55c0da !important;
    border: 1px solid;
}

.service_view_btn a:hover {
    font-size: 20px;
    color: #fff !important;
    border-color: #55c0da !important;
    border: 1px solid;
    background: #55c0da !important;
}

.serv_img_ret_img{
	padding-top:30px;
}

/* .call-to-action {
    background: linear-gradient(to right, #4ab9d4 , #65a7ea);
    padding-top: 30px;
    padding-bottom: 30px;
} */
.card_management_img .fa-film{

    font-size: 0px;
}

.program_management_img .fa-film{
    font-size: 0px;
}

.system_integration_img .fa-film{
    font-size: 0px;
}

.upgrade_img .fa-film{
    font-size: 0px;
}

.application_development_img  .fa-film{
    font-size: 0px;
}

.testing_img .fa-film{
    font-size: 0px;
}

.mobility_solution_img .fa-film{
    font-size: 0px;
}

.security_img .fa-film{
    font-size: 0px;
}

.port_lend_img{
	font-size: 0px;
}

.prod_impl_img{
	font-size: 0px;
}

.sys_integ_img{
	font-size: 0px;
}

.pro_eng_img{
	font-size: 0px;
}

.party_busselect_img .fa-film{
    font-size: 0px;
}

.appcus_imp_img  .fa-film{
    font-size: 0px;
}

.peroptm_img  .fa-film{
    font-size: 0px;
}

.mig_ser_img  .fa-film{
    font-size: 0px;
}

.legacy_re_img  .fa-film{
    font-size: 0px;
}

.indp_assur_img  .fa-film{
    font-size: 0px;
}

.buss_intanaly_img   .fa-film{
    font-size: 0px;
}

.service_box_row1 h5{
    font-weight: 600 !important; 
    line-height: 26px;
	color: #fff;
    font-size: 15px;
}

.service_box_row1 p{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 25px;
}

.service_box_row2 h5{
    font-weight: 600 !important; 
	line-height: 26px;
	color: #fff;
    font-size: 15px;
}

.service_box_row2 p{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.service_products_title h5{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 35px;
}

.service_products_title p{
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}

.verinite_quote_city{
    margin-bottom: 4px !important;
    font-family: "poppins";
}

.verinite_testimonial_title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "lato";
    font-weight: 400;
    font-size: 20px !important;
    margin-left: auto;
    margin-right: auto;
    width: 76%;
}

.verinite_service_portfolio{
    background-color: rgba(0, 0, 0, 0.65) !important;
    color: #fff;
}

.verinite_service_portfolio .portfolio-title a{
    color: #fff;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.testimonial-avatar img {
    max-width: 11% !important;
    margin-bottom: 20px;
}

.service_bg_img{
    background-size: 100% 100% !important;
}

.service_view_btn{
    margin-top: 20px;
}

/* Service Page Ends */

/* Case Study Page Starts */

.case_study_title h2{
    color: #59BFDD;
}


.filter-button{
    display: none !important;
}

.pe-7f-filter{
    display: none;
}

/* Careers Page starts */

.careers_title h2{
    color: #5CBDE0;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
	.service_heading h3 {
    		font-size: 24px;
	}

	.service_heading p {
    		font-size: 18px;
	}

	.loyality_tag {
    		width: 100%;
    		margin-bottom: 15px;
	}

	.loyality_tag a{
			padding: 8px 20px;
	}

	.card_management_tag {
    		width: 100%;
    		margin-bottom: 16px;
	}

	.card_management_tag a{
			padding: 8px 20px;
	}

	.risk_management_tag {
    		width: 100%;
	}

	.risk_management_tag a{
			padding: 8px 20px;
			margin-left: 0px;
	}

	.switching_tag {
    		width: 100%;
    		margin-bottom: 15px;
	}

	.switching_tag a{
			padding: 8px 20px;
	}

	.fraud_system_tag {
    		width: 100%;
    		float: left;
	}

	.fraud_system_tag a{
			padding: 8px 20px;
			margin-left: 0px;
	}

	.service_learn_more_btn button{
			width: 40%;
    		padding: 5px 0px;
	}

	.vertical_line{
			font-size: 15px !important;
	}

	.service_section_heading h5{
			font-size: 17px;
	}

	.service_box_row1{
			margin-bottom: 0px ;
    		padding-top: 0px !important;
	}

	.verinite_service_box{
			margin: 0px 0px;
	}

	.service_products_title h5 {
    		font-size: 19px;
    		margin-bottom: 15px;
	}

	.service_products_title p {
    		font-size: 14px;
	}

	.service_products{
			margin-top: 30px !important; 
	}

	.service_products .container .vc_row .wpb_column .wpb_wrapper .wpb_text_column{
			margin-bottom: 0px;
	}

	.verinite_service_img{
			margin-top: 35px !important;
	}

	.verinite_service_case_study{
			margin-top: 35px !important;
	}

	.custom-heading{
			font-size: 25px;
	}

	.service_view_btn a {
    		padding: 7px 35px;
    		font-size: 19px;
	}

	.verinite_service_testimonials{
			margin-top: 35px !important;
			padding-top: 35px !important;
	}

	.testimonial-avatar img{
			max-width: 35% !important;
	}

	.verinite_testimonial_title{
			margin-top: 5px;
			font-size: 16px !important;
			width: 100%;
	}
   
}