.career_heading_big h1{
	color: #5CBDE0;
	//color:#83cee5;
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
}
.tag1_careers{
	//background-color: #F2A000;
	color:#dca701 !important;
    width: 37%;
    border-left: 4px solid #dca701;
	padding-left: 10px;
}
.tag2_careers{
	color:#21b5c3;
	width: 40%;
	border-left:4px solid #21b5c3;
	padding-left: 10px;
}
.tag3_careers{
	width: 28%;
	color:#56ceb2;
	margin-top: 20px;
	padding-left: 10px;
	border-left:4px solid #56ceb2;
}
.tag4_careers{
	margin-top: 20px;
	color:#9848dc;
	width:33%;
	padding-left: 10px;
	border-left:4px solid #9848dc;
}
.careers_our_principles{
	padding-top: 50px;
	//padding-bottom	: 60px;
}
.our_principles_heading{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
	font-family: poppins;
	
}
.career_tags_outer{
	    width: 80%;
    float: left;
    margin-top: 25px;
    margin-bottom: 60px!important;
}
.our_principles_description{
	font-size: 22px;
    font-weight: 600;

}
.career_transparency{
	text-align: center!important;
}
.career_seek{
	text-align: center!important;
}
.career_growth{
	text-align: center!important;
}
.career_integrity{
	text-align: center!important;
}
.career_testimonails{
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 45px;	
	font-family: poppins;
}


.career_transparency .fa-lock:before{
	content : url('../../../uploads/2017/03/Transparency-1.png') !important;
}
.career_integrity .fa-lock:before{
	
	content : url('../../../uploads/2017/03/Integrity-1.png') !important;	
}
.career_growth .fa-lock:before{
	content : url('../../../uploads/2017/03/inclusive-growth.png') !important;	
}
.career_seek .fa-lock:before{
	content : url('../../../uploads/2017/03/seek.png') !important;	
}

.verinite_video{
	padding-top: 216px;
	padding-bottom: 216px;
}
.verinite_video_play_icon{

}
.career_video_content{
	//padding: 80px;
}
.career_video_content_inner_div{
	margin: 80px !important;
}
.career_video_heading{
	color:#7f898d;
	font-size:24px;
	font-weight: 600;
	margin-bottom: 20px;
	font-family: poppins;
}
.career_video_heading2{
	color:#838789;
	font-size: 26px;
	margin-bottom: 20px;
	font-family: poppins;
}
/*.career_video_description{
	color:#838789;
	font-size: 22px;
}*/
.career_read_more{
	color:#59bfdd;
}
.career_gallery{
	padding-top: 60px;
	padding-bottom: 60px;
}
.career_gallery_heading{
	font-size: 30px;
	font-weight: 600;
	font-family: poppins;
}
.career_author_testimoney{
	padding-top: 60px;
	padding-bottom: 25px;
	
}
.career_author_testimoney_text{
	font-size: 30px;
    font-weight: 600;
    margin-left: 150px;
    margin-right: 150px;

}
/*<i class="fa fa-quote-left career_author_quote_icon" style="color:#ffffff; border-color:rgba(0,0,0,0.01); "></i>*/
.career_author_quote_icon{
	font-size: 36px !important;
}
.career_author_name{
    margin-top: 20px;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
}
@media  screen and (min-width : 768px) and (max-width : 990px){
	.career_heading_big h1{
		font-size: 42px;
	}
	.career_tags_outer{
		width:100%;
	}
	.tag1_careers{
		width:50%;
	}
	.tag2_careers{
		width:50%;
		//margin-top: 20px;
	}
	.tag3_careers{
		width:50%;
	}
	.tag4_careers{
		width:50%;
	}
	.verinite_video {
    	padding-top: 164px;
    	padding-bottom: 164px;
	
	}
	.career_video_content_inner_div{
		margin:30px!important;
		text-align:center;
	}
	.career_author_testimoney_text {
    	font-size: 22px;
    	font-weight: 600;
    	 margin-left: 10px; 
    	 margin-right: 10px; 
	}
	.call-to-action-style-2 .call-to-action-description{
		text-align: left!important;
	}
	/* .cta .call-to-action-button {
    	margin-right: 10px!important;
    	margin-top: 10%!important;
	} */
}
@media screen and (min-width: 601px) and (max-width: 767px){
	.cta .call-to-action-button {
    	float: right!important;
    	margin-right: 35%;
    	margin-top: 5%!important;
	}
	.career_heading_big h1{
		font-size: 42px;
	}
	.career_tags_outer{
		width:100%;
	}
	.tag1_careers{
		width:100%;
	}
	.tag2_careers{
		width:100%;
		margin-top: 20px;
	}
	.tag3_careers{
		width:100%;
	}
	.tag4_careers{
		width:100%;
	}
	.verinite_video {
    	padding-top: 150px;
    	padding-bottom: 150px;
	
	}
	.career_video_content_inner_div{
		margin:50px!important;
		text-align:center;
	}
	.career_author_testimoney_text {
    	font-size: 22px;
    	font-weight: 600;
    	 margin-left: 10px; 
    	 margin-right: 10px; 
	}
	
}
@media screen and (min-width: 481px) and (max-width: 600px){
	.career_banner{
		//background-image: none!important;
        //margin-left: 10px;
        padding-left:10px;
		margin-top: 30px!important;
	}
	.career_heading_big h1{
		font-size: 30px;
	}
	.career_tags_outer{
		width:100%;
	}
	.tag1_careers{
		width:100%;
	}
	.tag2_careers{
		width:100%;
		margin-top: 20px;
	}
	.tag3_careers{
		width:100%;
	}
	.tag4_careers{
		width:100%;
	}
	.verinite_video {
    	padding-top: 100px;
    	padding-bottom: 100px;
	}
	.career_video_content_inner_div{
		margin:50px!important;
		text-align:center;
	}
	.career_author_testimoney_text {
    	font-size: 22px;
    	font-weight: 600;
    	 margin-left: 10px; 
    	 margin-right: 10px; 
	}
	
}
@media screen and (max-width: 480px){
	.career_banner{
		background-image: none!important;
        margin-left: 10px;
		margin-top: 30px!important;
	}
	.career_heading_big h1{
		font-size: 30px;
	}
	.career_tags_outer{
		width:100%;
	}
	.tag1_careers{
		width:100%;
	}
	.tag2_careers{
		width:100%;
		margin-top: 20px;
	}
	.tag3_careers{
		width:100%;
	}
	.tag4_careers{
		width:100%;
	}
	.verinite_video {
    	padding-top: 100px;
    	padding-bottom: 100px;
	}
	.career_video_content_inner_div{
		margin:50px!important;
		text-align:center;
	}
	.career_author_testimoney_text {
    	font-size: 22px;
    	font-weight: 600;
    	 margin-left: 10px; 
    	 margin-right: 10px; 
	}
	.verinite_service_testimonials_careers{
		margin-top: 0px!important;

	}

}
@media screen and (min-width: 991px) and (max-width: 1024px){
	
}
@media only screen and (min-width: 1300px) and (max-width: 1500px){
    .about_heading_small h1{
        //margin-top: 75px;
        font-size: 52px;
    }
    .career_heading_big h1{
    	font-size: 55px;	
    }
    .career_tags_outer{
    	margin-bottom: 130px!important;
    	margin-left:3px;
    }
}
@media screen and (min-width: 991px) and (max-width: 1199px){
	.career_tags_outer{
		width:100%;
	}
	.product_art_and_tech_content_2 {
    	padding-left: 19% !important;
	}
	.call-to-action-style-2 .call-to-action-description{
		width: 65% !important;
	}
	.cta .call-to-action-button{
		margin-right: 40px;
	}
}
