/*1024*768
768*1024
1280*800
320*568
320*480
360*640
480*800

Devices
Preferred sizes
iPhones
4” , 4.7” ,  5.5”
Android Phones
4” , 4.7” ,  5”  ,  5.5”
Tablets
7” , 8.9” , 10.1”*/	
.about_heading_small h1{
	//color: #5CBDE0;
	color:#83cee5;
    font-size: 48px;
    font-weight: 500;
    margin-top: 28px;
}
.about_heading_big h1{
	color: #5CBDE0;
	//color:#83cee5;
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
}
.no-padding{
	padding-left: 0px!important;
	padding-right: 0px!important; 
}
.about_tags_outer{
	width: 80%;
	float: left;
	margin-top:25px;
	margin-bottom: 70px!important;

}
.tags-custom{
	//padding: 0px 10px;
    //border-radius: 15px;
    //color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 30%;
    float: left;
    line-height: 18px;
    text-transform: uppercase;

}
.tag1{
	//background-color: #F2A000;
	color:#dca701 !important;
    width: 28%;
    border-left: 4px solid #dca701;

    padding-left: 10px;
}
.tag2{
	color:#21b5c3;
	width: 20%;
	border-left:4px solid #21b5c3;
	padding-left: 10px;
}
.tag3{
	color:#56ceb2;
	padding-left: 10px;
	border-left:4px solid #56ceb2;
}
.tag4{
	margin-top: 20px;
	color:#7abb21;
	width:33%;
	padding-left: 10px;
	border-left:4px solid #7abb21;
}
.tag5{
	margin-top: 20px;
	color:#9848db;
	padding-left: 10px;
	border-left:4px solid #9848db;
}

.founded .fa-calendar-o:before{
    content: url(../../../uploads/2017/04/1-3-1.png);
    
}

.projects .fa-calendar-o:before{
    content: url(../../../uploads/2017/04/2-3.png);
    
}

.members .fa-calendar-o:before{
    content: url(../../../uploads/2017/04/3-3.png);
    
}

.partners .fa-calendar-o:before{
    content: url(../../../uploads/2017/04/4-2.png);
    
}


.founded .mile-icon{
	padding-right:10px !important;
	padding-top: 9px;
}
.projects .mile-icon{
	padding-right:10px !important;
	padding-top: 9px;
}
.members .mile-icon{
	padding-right:10px !important;
	padding-top: 9px;
}
.partners .mile-icon{
	padding-right:10px !important;
	padding-top: 9px;
}
.founded .mile-description .mile-count .count{
	font-weight: bolder;
}
.projects .mile-description .mile-count .count{
	font-weight: bolder;
}
.members .mile-description .mile-count .count{
	font-weight: bolder;
}
.partners .mile-description .mile-count .count{
	font-weight: bolder;
}

.about_client{
   font-size: 28px;
    color: #000;
font-family: poppins;
}

.about_clienttext{
        font-size: 20px;
    width: 80%;
    text-align: justify;
}

.about_learn a{
        color: #57c1db;
        font-size: 18px;
}
.about_what_we_do{
	font-size: 30px;
    font-weight: 600;
    font-family: poppins;
}

.about_what_we_do .wpb_content_element{
	    margin-bottom: 0px;
}



.about_consulting h5{
	font-size: 20px;
	font-size: 20px;
    color: rgba(102, 102, 102, 0.71);
    font-weight: 400;
}
.about_consulting p{

    color: rgba(102, 102, 102, 0.71);
    font-size: 14px;
}
.about_consulting .fa-heart:before{
	content : url('../../../uploads/2017/04/1-new.png') !important;
}

.service-box-style-6 i, .service-box-style-6 .service-box-text{
	line-height: 0 !important;
}


.about_engineering h5{
	font-size: 20px;
	font-size: 20px;
    color: rgba(102, 102, 102, 0.71);
    font-weight: 400;
}
.about_engineering p{

    color: rgba(102, 102, 102, 0.71);
    font-size: 14px;
}
.about_engineering .fa-heart:before{
	content : url('../../../uploads/2017/04/2-new.png')!important ;
	
}


.about_support h5{
	font-size: 20px;
	font-size: 20px;
    color: rgba(102, 102, 102, 0.71);
    font-weight: 400;
}
.about_support p{

    color: rgba(102, 102, 102, 0.71);
    font-size: 14px;
}
.about_support .fa-heart:before{
	
	content : url('../../../uploads/2017/04/4.png')!important ;
}


.about_home_grown h5{
	font-size: 20px;
	font-size: 20px;
    color: rgba(102, 102, 102, 0.71);
    font-weight: 400;
}
.about_home_grown p{

    color: rgba(102, 102, 102, 0.71);
    font-size: 14px;
}
.about_home_grown .fa-heart:before{
	
	content : url('../../../uploads/2017/04/3-new.png')!important ;
}

.padding_bt_30{
	padding-bottom:30px;
}
.about_quotes_mobile{
    display: none;

}
.about_quotes{

	font-size: 30px;
	font-weight: bold;
}
#consulting_more{
	display: none;
}
#engineering_more{
	display: none;	
}
#support_more{
	display: none;	
}
#homegrown_more{
	display: none;	
}
.about_read_more{
	color:#59c1dc;
	font-size:14px; 
	cursor: pointer;
}
.service_1{
        padding-bottom: 80px;
    }
    .service_2{
        padding-bottom: 80px;
    }
    .service_3{
        padding-bottom: 80px;
    }
    .service_4{
        padding-bottom: 80px;
    }
    .about_what_we_do{
        padding-bottom: 70px;
    }
    .mile_stone1{
        border-right-style: solid;
    }
    .mile_stone2{
        border-right-style: solid;
    }
    .mile_stone3{
        border-right-style: solid;
    }
    .mile_stone4{
      
    }
    
/*//mobile
320*480
*/
@media only screen and (min-width: 320px) and (max-width: 480px){
   .about_heading_small h1{
            font-size: 20px;
    }
        
    .about_heading_big h1{
        font-size: 30px;
    }
    .clienttext_space{
        height: 10px !important;
    }
    .about_us_banner{
        background-image: none!important;
        margin-left: 20px;
    }


   
    .client_people_content{
        text-align: center !important;
    }
    .about_clienttext{
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        text-align: center!important;
    }
    .about_tags_outer{
        width:100%;
    }
    .tag1{
        width: 100%;
    }
    .tag2{
        margin-top: 20px;
        width:100%;
    }
    .tag3{
        width: 100%;
        margin-top: 20px;
    }
    .tag4{
        margin-top: 20px;
        width: 100%;
    }
    .tag5{
        margin-top: 20px;
        width: 100%;
    }
    .about_empty1 .wpb_wrapper .vc_empty_space{
        height:20px !important;
    }
    .about_empty2 .wpb_wrapper .vc_empty_space{
        height:20px !important;
    }
    .about_quotes_mobile{
        display: block;
        font-size: 19px;
        font-weight: bold;
    }

    .about_quotes{
        font-size: 19px;
        display: none;
    }
    .about_consulting{
        text-align: center !important;
    }
    .about_engineering{
        text-align: center !important;
    }
    .about_support{
        text-align: center !important;
    }
    .about_home_grown{
        text-align: center !important;
    }
    .about_tags_outer{
        margin-bottom: 60px!important;
    }
    .about_client{
        font-size: 22px;

    }
    .about_clienttext{
        font-size: 16px;
    }
    .about_learn a{
        font-size: 16px;
    }
    .about_what_we_do_top{
        padding-top: 50px !important;
    }
    .service_1{
        padding-bottom: 40px!important;
    }
    .service_2{
        padding-bottom: 40px!important;
    }
    .service_3{
        padding-bottom: 40px!important;
    }
    .service_4{
        padding-bottom: 40px!important;
    }
    .about_what_we_do{
        padding-bottom: 50px!important;
    }
        
    .mile_stone1{
        border-right-style: none !important;
        border-right: 0px !important;
    }
    .mile_stone2{
        border-right-style: none !important;
        border-right: 0px !important;
    }
    .mile_stone3{
        border-right-style: none !important;
        border-right: 0px !important;
    }
    .mile_stone4{
        border-right-style: none !important;
        border-right: 0px !important;
    }
    .mile_stone1 .wpb_wrapper .mile-content{
        
    }
    .mile_stone2 .wpb_wrapper .mile-content{
        padding-left: 32px;
    }
     .mile_stone2 .wpb_wrapper .mile-content{
        padding-left: 20px;
    }
     .mile_stone2 .wpb_wrapper .mile-content{
        padding-left: 25px;
    }
    
}


@media only screen and (min-width: 481px) and (max-width: 600px){
  
    .about_heading_small h1{
            font-size: 22px;
    }
        
    .about_heading_big h1{
        font-size: 30px;
    }

    .client_people_content .wpb_wrapper .slideInRight .vc_empty_space{
        height:0px !important;
    }
    .client_people_content{
        text-align: center !important;
    }
    .about_clienttext{
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        text-align: center!important;
    }
    .about_tags_outer{
        width:100%;
    }
    .tag1{
        width: 50%;
    }
    .tag2{
        
        width:50%;
    }
    .tag3{
        width: 43%;
        margin-top: 20px;
    }
    .tag4{
        margin-top: 20px;
        width: 52%;
    }
    .tag5{
        margin-top: 20px;
        width: 50%;
    }
    .about_empty1 .wpb_wrapper .vc_empty_space{
        height:20px !important;
    }
    .about_empty2 .wpb_wrapper .vc_empty_space{
        height:20px !important;
    }
    .about_quotes{
        font-size: 19px;
    }
    .about_consulting{
        text-align: center !important;
    }
    .about_engineering{
        text-align: center !important;
    }
    .about_support{
        text-align: center !important;
    }
    .about_home_grown{
        text-align: center !important;
    }
    .about_tags_outer{
        margin-bottom: 60px!important;
    }
    .about_client{
        font-size: 22px;

    }
    .about_clienttext{
        font-size: 16px;
    }
    .about_learn a{
        font-size: 16px;
    }
    .about_what_we_do_top{
        padding-top: 50px !important;
    }
    .service_1{
        padding-bottom: 40px!important;
    }
    .service_2{
        padding-bottom: 40px!important;
    }
    .service_3{
        padding-bottom: 40px!important;
    }
    .service_4{
        padding-bottom: 40px!important;
    }
    .about_what_we_do{
        padding-bottom: 50px!important;
    }
   
}

@media only screen and (min-width: 601px) and (max-width: 767px){
    .about_heading_small h1{
    	    font-size: 24px;
    }

    .clienttext_space{
        height: 10px;
    }
    	
    .about_heading_big h1{
    	font-size: 34px;
    }

    .client_people_content .wpb_wrapper .slideInRight .vc_empty_space{
    	height:0px !important;
    }
    .client_people_content{
    	text-align: center !important;
    }
    .about_clienttext{
    	padding-left: 30px;
    	padding-right: 30px;
    	width: 100%;
    	text-align: center!important;
    }
    .about_tags_outer{
    	width:100%;
    }
    .tag1{
    	width: 42%;
    }
    .tag2{
    	width:30%;
    }
    .tag3{
    	width: 40%;
    	margin-top: 20px;
    }
    .tag4{
    	width: 50%;
    }
    .tag5{
    	width: 45%;
    }
    .about_empty1 .wpb_wrapper .vc_empty_space{
        height:40px !important;
    }
    .about_empty2 .wpb_wrapper .vc_empty_space{
        height:40px !important;
    }
    .about_quotes{
        font-size: 25px;
    }
    .about_consulting{
        text-align: center !important;
    }
    .about_engineering{
        text-align: center !important;
    }
    .about_support{
        text-align: center !important;
    }
    .about_home_grown{
        text-align: center !important;
    }
}
/*ipad*/
@media only screen and (min-width: 768px) and (max-width: 991px){
   	.about_heading_small h1{
            font-size: 24px;
    }

    .clienttext_space{
        height: 10px;
    }
    .about_client{
        font-size: 25px;
    }
        
    .about_heading_big h1{
        font-size: 34px;
    }

    .client_people_content .wpb_wrapper .slideInRight .vc_empty_space{
        height:16px !important;
    }
    .client_people_content{
        text-align: center !important;
    }
    .about_clienttext{
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        text-align: center!important;
    }
    .about_tags_outer{
        width:100%;
    }
    .tag1{
        width: 42%;
    }
    .tag2{
        width:30%;
    }
    .tag3{
        width: 40%;
        margin-top: 20px;
    }
    .tag4{
        width: 50%;
    }
    .tag5{
        width: 45%;
    }
    .about_empty1 .wpb_wrapper .vc_empty_space{
        height:40px !important;
    }
    .about_empty2 .wpb_wrapper .vc_empty_space{
        height:40px !important;
    }
    .about_quotes{
        font-size: 25px;
    }
    .about_consulting{
        text-align: center !important;
    }
    .about_engineering{
        text-align: center !important;
    }
    .about_support{
        text-align: center !important;
    }
    .about_home_grown{
        text-align: center !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .about_tags_outer{
        width:100%!important;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1023px){
   
}

@media only screen and (min-width: 1024px) and (max-width: 1200px){
	
}

@media only screen and (min-width: 320px) and (max-width: 600px){
	

   
}

@media only screen and (min-width: 1300px) and (max-width: 1500px){
    .about_heading_small h1{
        margin-top: 75px;
        font-size: 52px;
    }
    
}


