.sect_chart{overflow:hidden;}
.itservice-title{ font-size:33px;
    font-weight: 600;
    color: #fff;padding-bottom:15px;
    line-height: 1.4em;
    font-family: 'Poppins';margin-bottom:0px;}
.itservice-headtxt{ font-size:28px;
    font-weight: 500;
    color: #fff;padding-bottom:15px;
    line-height: 1.4em;
    font-family: 'Poppins';}	
.itservice-titleclr{color:#55c0da;}
.banner-textser{width: 68%;
    float: left;
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins';
    border-right: 1px solid #fff;
	}
.banner-textsera{width: 68%;
    float: left;
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins';
   }
.banner-headingser{
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0px;
    line-height: 1.5;
}
.txtnews_ver{
	text-align:justify;
}
.banner-headingsub_ser{
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0px;
    line-height: 2.5;
}
.it_ser_txt{
	font-size: 16px;
    font-weight: 600;
    color: #6bb6cd;
    margin-bottom: 10px;
    font-family: 'Poppins';
	 width: 54%;
    float: left;
}
.it_ser_txtb{
	font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    font-family: 'Poppins';
	width: 46%;
    float: left;
    PADDING-LEFT: 60PX;
}
.news_posts_txt{
	font-size: 12px;
    color: #55c0da;
}
.news_postshd{
	font-size:17px;
}
.business_banking{
	font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    color: #646464;
    font-family: 'Poppins';
	padding-top: 15%;
    padding-bottom: 11%;
	text-align: justify;
}
.mob_sectxta{
	font-size: 15px;
    font-weight: 400;
    line-height: 2.3em;
    color: #646464;
    font-family: 'Poppins';
    padding-top:12%;
    padding-bottom: 6%;
    text-align: justify;
}
.it_imgser{
	text-align:center;
	padding-top: 45px;
    padding-bottom: 45px;
}
.mob_secimga{
	text-align:center;
	padding-top: 50px;
    padding-bottom:50px;
}
.outsource_secimga{
	text-align:center;
	padding-top: 50px;
    padding-bottom:50px;
}
.outsource_secimgb{
	text-align:center;
	padding-top: 50px;
    padding-bottom:50px;
}
.infosecu_secimga{
	text-align:center;
	padding-top: 50px;
    padding-bottom:50px;
}
.it_imgconsul{
	text-align:center;
	padding-top: 45px;
    padding-bottom: 45px;
}
.it_insightser{
	text-align:center;
	padding-top: 90px;
    padding-bottom: 90px;
}
.entry-footer a:hover{
	color:#55c0da;
}
.it_imgser_flag{
	text-align:center;
	padding-top: 35%;    
}
.left-text-padding_les{
	    padding-left: 30px !important;
}
.devt_app_txt{
	font-size: 15px;
    color: #555555;
    margin-bottom: 15px;
    line-height: 1.7em;
    font-family: 'Lato';
    font-weight: 400;
	padding-top: 4%;
	float: left;
	text-align: justify;width:100%;
}
.devt_app_txtlist{
	font-size: 15px;
    color: #555555;
    margin-bottom: 15px;
    line-height: 1.7em;
    font-family: 'Lato';
    font-weight: 400;
	padding-top: 1%;
	float: left;
	text-align: justify;
	width:100%;
}
.ousource_vertxt{
	font-size: 15px;
    font-weight: 400;
    line-height: 2.3em;
    color: #646464;
    font-family: 'Poppins';
    padding-top: 13%;
    padding-bottom: 10%;
    text-align: justify;
    letter-spacing: 0px;
}
.devt_app_ser_indp{
	font-size: 15px;
    color: #555555;
    margin-bottom: 15px;
    line-height: 1.7em;
    font-family: 'Lato';
    font-weight: 400;
	padding-top: 1%;
	float: left;
	width:24.3%;
}
.list_info_ver{
	margin-bottom:10px;padding-left:40px;
}
.mobil_verser_list{
   font-size: 15px;
    color: #555555;
    margin-bottom: 15px;
    line-height: 1.7em;
    font-family: 'Lato';
    font-weight: 400;
	padding-top: 1%;
	float: left;
	width:33.3%;
}
.devt_app_ser_consul{
	font-size: 15px;
    color: #555555;
    margin-bottom: 15px;
    line-height: 1.7em;
    font-family: 'Lato';
    font-weight: 400;
	padding-top: 1%;
	float: left;
	width:50%;
}
.devt_app_txtlist_indp{
	font-size: 15px;
    color: #555555;
    margin-bottom: 15px;
    line-height: 1.7em;
    font-family: 'Lato';
    font-weight: 400;
	padding-top: 1%;
	float: left;
	text-align: center;width:100%;
}
.devt_app_txthdng{
	font-size: 15px;
    color: #555555;
    margin-bottom: 15px;
    line-height: 1.7em;
    font-family: 'Lato';
    font-weight: 400;
	padding-top: 4%;
	float: left;padding-left:21px;
}
.right-text-padding-verser{
	    padding-right: 60px;
}
.app_mangser_txt a{
	    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Poppins';
}
.app_mangser_txt_indp a{
	 font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Poppins'; 
}
.app_mangser_txt_indp a:hover{
	border-bottom:none!important; 
}
.app_mangser_txt_indp a{
	border-bottom:none!important; 
}
.app_mangser_txt a{
	border-bottom:none!important; 
}
.app_mangser_txt_indp .list-inline{
	text-align:center;
}
.app_mangser_txt{
    text-align: justify!important;
    width: 62%!important;
}
.app_mangser_img{
	 width: 38%!important;
}
.banner_itserv_ver{
	padding-top:135px;padding-bottom:230px;
}
.mob_serbn_img{
	width: 20%;
    float: left;
    padding-top: 0
}
.mob_serbn_txt{
	width: 80%;
    float: left;
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins';
    border-right: 1px solid #fff;
}
.mob_serbn_txta{
	width: 80%;
    float: left;
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins';
}
.mobility-custom-list-style {
	margin-bottom: 0.5em;
    text-indent: 0em;
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
    list-style-image: url(../../../uploads/2017/03/Circle_58183c997dff4cd7cf4ef63503cc6989.png);
    padding-right: 15px;
}


@media  screen and (min-width : 768px) and (max-width : 990px){
	.risk_management_tag{padding-left: 5px;padding-top: 19px;}
	.service_learn_more_btn button{width:30%;}
	.cta .call-to-action-button{margin-right:34px;margin-top: 10%;}
	.service_box_row1{margin-bottom: 50px ;padding-top: 25px;}
	.service_box_row2 h5{font-size:15px;}
	.service_box_row1 h5{font-size:15px;}
	.service_heading h3{font-size:34px;line-height: 1.2;}
	.service_heading p{font-size:20px;line-height: 1.4;}
	.fraud_system_tag a{padding: 7px 19px;}
	.webapp_serv{padding-top: 5%;}
	.infosecu_secimga{padding-top:75px;}
	.right-text-padding-verser{padding-right:0px;}
	.app_mangser_txt a{padding-bottom:0px!important;}
	.it_imgser_flag{padding-top: 15%;padding-bottom: 7%;}
	.app_mangser_img{padding-top: 20%;}
	.devt_app_ser_indp{margin-bottom: 0px;width: 50%;padding-left: 10%;}
	.it_insightser{padding-top:40%;padding-bottom:40%;}
	.business_banking{padding-top: 10%;padding-bottom: 5%;}
	.it_imgser{padding-top: 40px;padding-bottom: 40px;}
	.it_imgconsul{padding-top: 35%;padding-bottom: 35%;}
	.devt_app_ser_consul{margin-bottom: 0px;width:100%;}
		.itservice-headtxt{font-size:27px;}
		.mob_secimga{padding-top:35%;padding-bottom:0px;}
		.outsource_secimgb{padding-top:35%;}
		.outsource_secimga{padding-top:30%;}

}
@media screen and (min-width: 601px) and (max-width: 767px){
	.service_box_row1{
			margin-bottom: 0px ;
    		padding-top: 0px;
	}
	.serv_img_mob {text-align:center!important;}
	.serv_img_ret_img {text-align:center!important;}
	.risk_management_tag{padding-left: 5px;}
	.cta .call-to-action-button{float:right!important;margin-right:35%;margin-top: 10%!important;}
	.card_size_app{text-align:center!important;padding-top:10%;}
	.service_heading h3{font-size:34px;line-height: 1.2;}
	.service_heading p{font-size:20px;line-height: 1.4;}
	.vertical_line{font-size:20px!important;}
	.loyality_tag a{font-size:12px;}
	.hide-break {display:none;}
	.hide-breakser{display:none;}
	.itservice-title{font-size:31px;}
	.banner_itserv_ver{padding-top: 80px;padding-bottom:80px;}
	.banner-textser{border-right:none;}
	.mob_serbn_txt{border-right:none;}
	.right-text-padding-verser{padding-right:0px;}
	.business_banking{padding-top: 0%;padding-bottom: 1%}
	.app_mangser_txt{width:100%!important;}
	.app_mangser_txt a{padding-bottom:0px!important;}
	.it_imgser_flag{padding-top: 23%;padding-bottom: 0%;float: left;}
	.app_mangser_img{width:100%!important;}
	.it_imgser_flag {padding-top: 10%;padding-left: 20%;padding-right: 20%;}
	.devt_app_ser_indp{margin-bottom: 0px;width: 50%;padding-left: 10%;}
	.banner-icon{padding-bottom:18px;}
	.mob_serbn_img{padding-bottom:18px;}
	.devt_app_txt{padding-top:0%;}
	.itservice-headtxt{font-size:24px;}
	.it_insightser{padding-top:65px;padding-bottom:45px;}
	.mob_sectxta{padding-top:0%;padding-bottom:0%;}
	.mobil_verser_list{margin-bottom: 0px;width: 100%;}
	.ousource_vertxt{padding-top:0%;padding-bottom:0%;}
	.outsource_secimga{padding-bottom:30px;}
	.outsource_secimgb{padding-top:0px;}
}
@media screen and (min-width: 481px) and (max-width: 600px){
	.risk_management_tag{padding-left: 5px;padding-top: 19px;}
	.service_box_row1{margin-bottom: 0px ;padding-top: 0px !important;}
	.card_size_app{text-align:center!important;padding-top:10%;}
	.hide-break {display:none;}
	.hide-breakser{display:none;}
	.serv_img_mob {display:none;}
	.serv_img_ret_img {display:none;}
	.service_heading h3{line-height: 1.2;font-size: 34px;margin-top: 10px;}
	.service_heading p{font-size: 20px;line-height: 1.4;}
	.vertical_line{font-size:20px!important;}
	.itservice-title{font-size:31px;}
	.banner_itserv_ver{padding-top: 80px;padding-bottom: 240px;}
	.banner-textser{border-right:none;}
	.mob_serbn_txt{border-right:none;}
	.right-text-padding-verser{padding-right:0px;}
	.business_banking{padding-top: 0%;padding-bottom: 5%}
	.app_mangser_txt{width:100%!important;}
	.app_mangser_txt a{padding-bottom:0px!important;}
	.it_imgser_flag{padding-top: 23%;padding-bottom: 0%;float: left;}
	.app_mangser_img{width:100%!important;}
	.it_imgser_flag {padding-top: 10%;padding-left: 10%;padding-right: 10%;}
	.devt_app_ser_indp{width:50%;padding-top:0%;margin-bottom:0px;}
	.devt_app_ser_consul{width:100%;margin-bottom: 0px;}
	.cons_txtimg{padding-bottom:12%;float: left;}
	.itservice-headtxt{font-size:26px;}
	.it_insightser{padding-top:65px;padding-bottom:45px;}
	.mob_sectxta{padding-top:0%;padding-bottom:0%;}
	.mobil_verser_list{margin-bottom: 0px;width: 100%;}
	.ousource_vertxt{padding-top:0%;padding-bottom:0%;}
	.outsource_secimga{padding-bottom:30px;}
	.outsource_secimgb{padding-top:0px;}
}
@media screen and (max-width: 480px){
	.serv_img_mob {display:none;}
	.serv_img_ret_img {display:none;}
	.card_size_app{text-align:center!important;padding-top:18%;}
	.hide-break {display:none;}
	.hide-breakser{display:none;}
	.itservice-title{font-size:31px;}
	.banner-textser{border-right:none;}
	.mob_serbn_txt{border-right:none;}
	.right-text-padding-verser{padding-right:0px;}
	.business_banking{padding-top: 0%;padding-bottom: 4%;}
	.it_imgser_flag{padding-top: 23%;padding-bottom: 0%;float: left;}
	.app_mangser_txt{width:100%!important;}
	.app_mangser_img{width:100%!important;}
	.app_mangser_txt a{padding-bottom:0px!important;}
	.banner_itserv_ver{padding-top: 80px;padding-bottom:80px;}
	.devt_app_txtlist_indp{text-align:justify;}
	.devt_app_ser_indp{width:100%;margin-bottom: 0px;}
	.devt_app_ser_consul{width:100%;margin-bottom: 0px;}
	.cons_txtimg{padding-bottom:12%;float: left;}
	.mobil_verser_list{margin-bottom: 0px;width: 100%;}
	.mob_sectxta{padding-top:0%;padding-bottom:0%;}
	.ousource_vertxt{padding-top:0%;}
	.outsource_secimgb{padding-top:30px;}
	.service_tags_inner{margin-top:16px;}
}
@media screen and (min-width: 991px) and (max-width: 1024px){
	.risk_management_tag a{padding: 7px 16px;}
	.app_mangser_txt a{padding-bottom:0px!important;}
	.it_imgser_flag{padding-top: 5%;padding-bottom: 7%;}
	.app_mangser_img{padding-top: 20%;}
	.it_imgconsul{padding-top: 26%;padding-bottom: 28%;}
	.devt_app_ser_consul{width:100%;margin-bottom: 0px;}
	.mob_secimga{padding-top:90px;padding-bottom:90px;}
	.outsource_secimgb{padding-top:25%;}
}
@media screen and (min-width: 1025px) and (max-width: 1152px){
	.outsource_secimgb{padding-top:25%;}
	.mob_secimga{padding-top:25%;}
}