

@media screen and (min-width : 320px) and (max-width : 480px)
{
	.aboutus-header-img
	{
		width: 100%;
		background-size: 350px;
	}
.aboutus-header-heading
{
	font-size: 12px;
	margin-top: 15px;

}
.aboutus-header-heading-text2
{
font-size: 8px;
color: #fff; 
text-align: center; 
}


}
